@charset "utf-8";

/* 팝업: 회의실현황 */
.photo_wrap img {width:200px;height:200px;}
.photo_wrap img + img {margin-left:5px;}

/* 그리드 색깔 재지정 2023/10/25 전재우 행정원 요청 */
.grid:not(.cust) .gridBodyDefault.focusedTr { background-color:#d8d9da !important }
.grid:not(.cust) .gridBodyDefault.focusedTd { background-color:#fff7e0 !important }

.w2group .pageWrap .w2textarea { resize : vertical; }