@charset "utf-8";
/* EIP3.0 업무/결재 시스템 */ 

/* Reset */
html,body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,table,form,fieldset {margin:0;padding:0;}
body {color:#333;font-family:'맑은 고딕', Malgun Gothic, '돋움', Dotum;font-size:13px;}
fieldset,iframe {border:0;}
img {border:0;vertical-align:top;}
table {border-collapse:collapse;border-spacing:0;}
caption,legend {width:0;height:0;overflow:hidden;font-size:0;visibility:hidden;}
li,dd {list-style:none;}
input,textarea,select {font-family:'맑은 고딕', Malgun Gothic, '돋움', Dotum;}
em,i,address {font-style:normal;}
a:link, a:visited {color:#3150a7;}
a:hover,a:active,a:visited,a:focus {color:#333;}
::-webkit-input-placeholder {color:#999;}
::-ms-input-placeholder {color:#999;}
::placeholder {color:#999;}
html {scroll-behavior:smooth;}
*, *::before, *::after {box-sizing:border-box;}
::selection {color:white;background:#003b8f;}
:root {
	--text-color:#333;
	--main_blue:#003b8f;
	--point_color:#d54e21;
}	


/***********************************************************************************************************************************
	Websquare Reset
***********************************************************************************************************************************/
.w2group, 
.w2trigger {background-color:transparent;}
.w2input,.w2textarea,.w2upload .w2upload_input {font-family:'맑은 고딕', Malgun Gothic, '돋움', Dotum;color:#333;border:1px solid #dee2e9;background:#fff; border-radius:8px}
input[type="button"],input[type="text"],button,.w2inputCalendar_divInput {-webkit-appearance:none;}
.w2grid nobr {padding:0 10px;}
.grid tbody .gridBodyDefault > .w2grid_input,
.grid tbody .w2grid_textarea{display:block;border:1px solid #dee2e9;width:calc(100% - 5px) !important;height:calc(100% - 5px);line-height:35px;margin:0 auto; border-radius:8px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;box-sizing:border-box;-moz-box-sizing:border-box}
.grid tbody .gridBodyDefault > nobr.w2grid_input_readonly {border:0;}
.w2grid_tooltip{display:block;position:absolute;border:0;border-radius:2px !important;background:#003b8f !important;cursor:default !important;font-size:12px;color:#fff;padding:4px !important;z-index:5200}



/***********************************************************************************************************************************
	Layout 
***********************************************************************************************************************************/
.mWrap {position:relative;margin:0 auto;/*max-width:768px;*/height:100%; /*background:#f8fafc*/}
.mWrap .header {display:flex;justify-content:space-between;align-items:center;position:relative;height:59px;padding:0 20px;border-bottom:1px solid #eaebee;background:#f8fafc;z-index:200!important;box-shadow:none}
.mWrap .header.noline {border-bottom:0}
.mWrap .contents {position:absolute;top:60px;left:0;right:0;bottom:0;}
.mpageWrap {position:absolute;top:60px;left:0;right:0;bottom:0;overflow-y:auto;}  /* WondowContainer 프레임모드=wframe 반영 overflow-y:hidden; 검토*/
.mpageWrap.fix{bottom:81px;}

/* Header */
.mWrap .header h2 {display:inline-block;color:#1a3350;font-weight:700;font-size:18px;}


/* 아이콘 기능버튼 */
[class*=ico_] {display:inline-block;width:16px;height:16px;background-repeat:no-repeat;background-position:center center;text-indent:-9999px;}
.ico_search {background-image:url(/cm/images/sch_glass.png);}
.ico_fix {background-image:url(/cm/images/sch_fix.png);}
.ico_fold {background-image:url(/cm/images/sch_fold.png);}
.ico_list {background-image:url(/cm/images/sch_list.png);}
.ico_search.on {background-image:url(/cm/images/sch_glass_on.png);}
.ico_fix.on {background-image:url(/cm/images/sch_fix_on.png);}
.ico_fold.on {background-image:url(/cm/images/sch_fold_on.png);}
.ico_list.on {background-image:url(/cm/images/sch_list_on.png);}
.ico_more {width:15px;height:15px;background-image:url(/cm/images/ico_more.png);}
[class*=ico_] + [class*=ico_] {margin-left:10px;}



/* TreeView */
.menuBox .treevWrap {overflow:auto;height:calc(100% - 130px);margin-top:10px;}
.menuBox .treev .w2treeview_label {display: inline-block;font-size:12px;width:195px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.treev .w2treeview_close_child .w2treeview_icon_navi {background:url(/cm/images/tree_folder.png) no-repeat center center;}
.treev .w2treeview_open_child .w2treeview_icon_navi {background:url(/cm/images/tree_folder_on.png) no-repeat center center;}
.treev .w2treeview_leaf .w2treeview_icon_navi {background:url(/cm/images/tree_line.png) no-repeat center center;}
.treev.line_R {border-right:1px solid #c2c7d5}


/***********************************************************************************************************************************
	Component
***********************************************************************************************************************************/
/* Form */
input[type="text"],input[type="password"],.w2textarea,.w2inputCalendar_divInput,.w2selectbox_native select,.w2selectbox_col_label,.w2autoComplete_col_label {font-size:14px;}
.w2input {height:42px;padding:0 10px;}
.w2input.full {width:100%;}
.w2textarea {width:100%;padding:10px;line-height:1.6;}
/* focus */
input[type="text"]:focus,input[type="password"]:focus,textarea:focus,.w2selectbox:focus,.w2selectbox_native select:focus,.w2inputCalendar_focus,.w2checkcombobox:focus,
.w2autoComplete:focus,
input[type="text"]:hover,input[type="password"]:hover,textarea:hover,.w2selectbox:hover,.w2selectbox_native select:hover,.inpcal:hover,.w2checkcombobox:hover,
.w2autoComplete:hover {outline:none;border:0;}
/* disabled & readOnly */
.w2input_disabled,.w2input_readonly,.w2selectbox_disabled,.w2textarea_disabled,.w2upload_disabled .w2upload_input,
.w2autoComplete_disabled,.w2inputCalendar_readOnly,.w2selectbox_native.fixedWidth .w2selectbox_native_select:disabled {background:#f7f7f8 !important; border:1px solid #f7f7f8; color:#777;cursor:default;}


/* upload 추가 */
.w2upload_disabled input[type="text"]:focus {border:1px solid #d4d4d4;box-shadow:none} 

/* Form 필수입력 표시 */
.req.w2input,
.req.w2selectbox,
.req.w2checkcombobox,
.req.w2textarea,
.req.w2upload .w2upload_input,
.req.w2autoComplete,
.req.w2multiselect_div .w2multiselect_tr {background-color:#fff8e5;}
.req.w2inputCalendar_div .w2inputCalendar_divInput,
.req.w2selectbox_native,.req.w2selectbox_native.fixedWidth .w2selectbox_native_select {background:#fff8e5;}
.req .w2selectbox_over .w2selectbox_col_label, .req .w2selectbox_focus .w2selectbox_col_label {background:#fff8e5;}
.req .w2autoComplete_over .w2autoComplete_col_label, .req .w2autoComplete_selected .w2autoComplete_col_label {background:#fff8e5;}
.req.radioGroup .w2radio_item .w2radio_input + label:before {background:url(/cm/images/radio_default_req.png) no-repeat;}
.req.chkGroup .w2checkbox_item .w2checkbox_input + label:before {background:url(/cm/images/chk_default_req.png) no-repeat;}

/* Radio & Checkbox Group */
.radioGroup .w2radio_item,
.chkGroup .w2checkbox_item {display:inline-block;line-height:1.5;}
.radioGroup .w2radio_item .w2radio_input,
.chkGroup .w2checkbox_item .w2checkbox_input {display:none;}
.radioGroup .w2radio_item .w2radio_input + label,
.chkGroup .w2checkbox_item .w2checkbox_input + label {padding-right:16px;font-size:12px;}
.radioGroup .w2radio_item .w2radio_input + label:before,
.chkGroup .w2checkbox_item .w2checkbox_input + label:before {content:'';display:inline-block;width:14px;height:14px;margin-right:4px;vertical-align:middle;}
.radioGroup .w2radio_item .w2radio_input + label:before {background:url(/cm/images/radio_default.png) no-repeat;}
.chkGroup .w2checkbox_item .w2checkbox_input + label:before {background:url(/cm/images/chk_default.png) no-repeat;}
.radioGroup .w2radio_item .w2radio_input:checked + label:before {background:url(/cm/images/radio_checked.png) no-repeat;}
.radioGroup .w2radio_item .w2radio_input:disabled + label:before {background:url(/cm/images/radio_disabled.png) no-repeat;}
.radioGroup .w2radio_item .w2radio_input:checked:disabled + label:before {background:url(/cm/images/radio_disabled_chked.png) no-repeat;}
.chkGroup .w2checkbox_item .w2checkbox_input:checked + label:before {background:url(/cm/images/chk_checked.png) no-repeat;}
.chkGroup .w2checkbox_item .w2checkbox_input:disabled + label:before {background:url(/cm/images/chk_disabled.png) no-repeat;}
.chkGroup .w2checkbox_item .w2checkbox_input:checked:disabled + label:before {background:url(/cm/images/chk_disabled_chked.png) no-repeat;}
.radioGroup .w2radio_item:last-child .w2radio_input + label,
.chkGroup .w2checkbox_item:last-child .w2checkbox_input + label {padding-right:10px;}

.chkGroup.col .w2checkbox_item{width:50%}

/* GridView 칼럼 체크박스,라디오 */
.w2grid input[type=radio],
.w2grid input[type=checkbox] {display:none;}
.w2grid .w2radio_label,
.w2grid .w2checkbox_label {font-size:0;}
.w2grid .w2radio_label:before,
.w2grid .w2checkbox_label:before {content:'';display:inline-block;width:14px;height:14px;}
.w2grid .w2radio_label:before {background:url(/cm/images/radio_default.png) no-repeat;}
.w2grid .w2checkbox_label:before {background:url(/cm/images/chk_default.png) no-repeat;}
.w2grid input[type=radio]:checked + label:before {background:url(/cm/images/radio_checked.png) no-repeat;}
.w2grid input[type=checkbox]:checked + label:before {background:url(/cm/images/chk_checked.png) no-repeat;}
.w2grid .w2grid_default_disabled .w2radio_label:before {background:url(/cm/images/radio_disabled.png) no-repeat;}
.w2grid .w2grid_default_disabled .w2checkbox_label:before {background:url(/cm/images/chk_disabled.png) no-repeat;}
.w2grid .w2grid_default_readonly.gridBodyDefault_select{background-image:none}

/* 검색선택 */
.inpsch {display:flex;height:42px;border:1px solid #dee2e9; border-radius:8px; overflow: hidden;}
.inpsch .inp {width:calc(100% - 42px);border:0;}
.inpsch input[type="text"]:focus,
.inpsch input[type="text"]:hover{border:0;}
.inpsch .btn_sch{border: 0; width: 42px; height: 42px; font-size: 0;background-image:url(/cm/images/mbi/ico_search.png); background-size:42px; background-repeat: no-repeat; background-position: center;} /* 돋보기 */

/* SelectBox */
.sel {height:42px;border:1px solid #dee2e9; border-radius:8px; overflow: hidden;}
select{appearance:none; -webkit-appearance:none;}
select::-ms-expand{display:none}
select{padding-left:10px}
.w2selectbox_native.fixedWidth .w2selectbox_native_select{background-image:url(/cm/images/mbi/ico_selectbox.png); background-size: 42px; background-position: right center; background-repeat: no-repeat;}
.w2selectbox_native_mobile .w2selectbox_native_select {border-radius: 8px;}
.w2table_sb_col { height: 28px; font-size: 14px;}

/* InputCalendar */
.inpcal {height:42px;border:1px solid #dee2e9;background:#fff; border-radius:8px}
.inpcal .w2inputCalendar_button {top:8px !important;width:22px;height:22px;background:url(/cm/images/mbi/ico_cal.png) left center no-repeat !important;background-size:18px !important;vertical-align:middle;outline:none;}
.inpcal .w2inputCalendar_div_input {width:calc(100% - 22px) !important;padding-right:0;}
.inpcal .w2inputCalendar_divInput {padding-left:5px;border:0;font-family:'맑은 고딕', Malgun Gothic, '돋움', Dotum;}
.inpcal .w2inputCalendar_div_img {width: 22px;}
.inpcalWrap {display:inline-block;}
.inpcalWrap .dash {display:inline-block;width:16px;text-align:center;}
.inpcal.full,
.inpcalWrap.full {width:100%;}
.inpcalWrap.full .inpcal {width:calc(50% - 8px);}
.inpcal + .inpcal, 
.inpcal + .sel {margin-left:4px;}

/* 팝업달력 */
.w2calendar_class1 {width:201px;height:205px;box-shadow:4px 3px 6px 0 rgba(0,0,0,0.1);}
.w2calendar_content_table {border-collapse:separate;border-spacing:1px;}
.w2calendar_header {background:#003b8f;} 
.w2calendar_header_last_month,
.w2calendar_header_next_month {background:url(/cm/images/cal_bt_prev.png) center center no-repeat;}
.w2calendar_header_next_month {left:175px;transform:rotate(180deg);}
.w2calendar_header_last_year,
.w2calendar_header_next_year {background:url(/cm/images/cal_bt_last.png) center center no-repeat;}
.w2calendar_header_next_year {left:190px;transform:rotate(180deg);}
.w2calendar_selectbox_year_native,
.w2calendar_selectbox_month_native {border:0;background:none;color:white;outline:none;font:12px 'Nanum Gothic', '맑은 고딕';} /* 연도,월 선택 */
.w2calendar_selectbox_year_native {left:50px;}
.w2calendar_selectbox_month_native {left:117px;}
.w2calendar_selectbox_year_native option,
.w2calendar_selectbox_month_native option {color:#333;}
.w2calendar_content {padding:0 5px 5px;border-top:0;background:white;}
.w2calendar_col_date button {font:12px 'Nanum Gothic', '맑은 고딕';}
.w2calendar .w2calendar_date_on.w2calendar_col_date {border:1px solid #e6e6e6;background:#f5f5f5;font-size:12px;}
.w2calendar .w2calendar_date_on.w2calendar_col_date:hover {border:1px solid #003b8f;background:#f7faff;color:#333;}
.w2calendar .w2calendar_date_on.w2calendar_col_date button:hover {border:0;background:#003b8f;color:white;}
.w2calendar .w2calendar_date_on.w2calendar_selected,
.w2calendar .w2calendar_date_on.w2calendar_selected button {border:0;background:#003b8f;color:white;}
.w2calendar_class1 .w2calendar_date_over,
.w2calendar_class1 .w2calendar_date_over button {background:none;}
.w2calendar .w2calendar_col_date {background:white;} /* 이전/다음달 영역 */
.w2calendar [class*=w2calendar_day] {background:none;color:#333;font-size:0;} 
.w2calendar [class*=w2calendar_day]:before {font-size: 12px;}
.w2calendar .w2calendar_day0:before {content:'일';}
.w2calendar .w2calendar_day1:before {content:'월';}
.w2calendar .w2calendar_day2:before {content:'화';}
.w2calendar .w2calendar_day3:before {content:'수';}
.w2calendar .w2calendar_day4:before {content:'목';}
.w2calendar .w2calendar_day5:before {content:'금';}
.w2calendar .w2calendar_day6:before {content:'토';}
.w2calendar_selectbox_hour {width:45px;height:18px;margin-right:2px;}
.w2calendar_selectbox_minute {width:45px;height:18px;margin-left:2px;}
.w2calendar_selectbox_hour.w2table_sb {margin-left:0;}

/* InputCalendar Type */
.w2inputCalendar_type_yearMonthDateTime {width:140px;}
.w2calendar_classYearMonth_class1 {width:265px;}
.w2calendar_header_btn_ok {left:217px;} 
.w2calendar_header_btn_close {left:237px;}
.w2calendar_header_next_year_yearType {background:url(/cm/images/cal_bt_last.png) center center no-repeat;}
.w2calendar_header_next_year_yearType {left:143px;transform:rotate(180deg);}
.w2calendar_classYear_class1 {width:220px;}
.w2calendar_header_btn_ok_yearType {left:172px;}
.w2calendar_header_btn_close_yearType {left:192px;}
.w2calendar_selectbox_hour_mobile {margin-right:4px;font-size:12px;}
.w2calendar_selectbox_minute_mobile {margin-left:4px;font-size:12px;}

/* InputCalendar Dynamic Type */
.w2calendar_classYearMonth_dynamic {width:201px;}
.w2calendar_picker_header_dynamic_entity {padding:3px 5px;width:150px;}
.w2calendar_picker_header,
.w2calendar_picker_header_dynamic_entity:hover {padding:3px 5px;background:#003b8f;color:white;}
.w2calendar_picker_header_dynamic_entity .year {position:relative; left:-18px;padding-right:10px;}
.w2calendar_picker_header_dynamic_entity .month {position: absolute; left:50%; padding-left:5px}
.w2calendar_picker_header .month:after {content:'월'}
.w2calendar_picker_header .year:after {content:'년'}
.w2calendar_picker_header_last_entity,
.w2calendar_picker_header_last_entity:hover {background:url(/cm/images/cal_bt_prev.png) center center no-repeat;}
.w2calendar_picker_header_next_entity,
.w2calendar_picker_header_next_entity:hover {background:url(/cm/images/cal_bt_next.png) center center no-repeat;}
.w2calendar_picker_content table td div {border-radius:2px;}
.w2calendar_picker_content table td div.active {background:#003b8f;}
.w2calendar_picker_content table td div:hover {border:1px solid #003b8f;background:#f7faff;color:#333;}

/* Table */
.tbl {position:relative;width:100%;}
.tbl:before {content:'';position:absolute;top:0;width:100%;height:1px;background:#79839d;}
.tbl .w2tb_th {padding:4px 10px;background:#e9ecf5;}
.tbl .w2tb_td {padding:2px 4px;background:#fff;}
.tbl .w2tb_th, 
.tbl .w2tb_td {height:27px;border:1px solid #c2c7d5;color:#333;font-family:'돋움', Dotum;font-size:12px;text-align:left;}
.tbl .w2tb_th {text-align:left;}
.tbl .btn{height:24px; background: #deebf9; border: 1px solid #003b8f;color: #003b8f; font-size:13px;}
.tbl .helptxt {color:#999;}
.tbl .helptxt.red {color:#d54e21;}
.tbl .helptxt.blue {color:#3150a7;}
.tbl .helptxt {vertical-align:middle;}
.tbl .w2tb_td .inpcal + .helptxt,
.tbl .w2tb_td .sel + .helptxt,
.tbl .w2tb_td .inp + .helptxt,
.tbl .w2tb_td .btn + .helptxt{padding-left:10px;}
.tbl .w2tb_td .helptxt + .fileuploadBox{padding-top:4px;}
.tbl .w2tb_td a:hover {background:#fbf2cd;}
.tbl + .tbl {margin-top:16px;}
.tbl .w2tb_td .titleSection {margin-top:4px;}
.tbl .w2tb_th.pd0,
.tbl .w2tb_td.pd0{padding:0}
.tbl .w2tb_th .point.top{padding: 6px 10px 5px; border-top: 1px solid #d54e21;border-left: 1px solid #d54e21;}
.tbl .w2tb_td .point.top{padding: 6px 10px 5px; border-top: 1px solid #d54e21;border-right: 1px solid #d54e21;}
.tbl .w2tb_th .point.bot{padding: 6px 10px 5px; border-left: 1px solid #d54e21;border-bottom: 1px solid #d54e21}
.tbl .w2tb_td .point.bot{padding: 6px 10px 5px; border-right: 1px solid #d54e21;border-bottom: 1px solid #d54e21}
.tbl .w2tb_td .ico.bookmark{width: 20px; height:20px; background-repeat :no-repeat; background-position: center center}
.tbl .w2tb_td .ico.bookmark.on:hover{background:url(/cm/images/ico_bookmark_on.png) no-repeat center center;}  /* 즐겨찾기 ON */
.tbl .w2tb_td .ico.bookmark.off:hover {background:url(/cm/images/ico_bookmark_off.png) no-repeat center center;}  /* 즐겨찾기 OFF */}

/* Table 칼럼 Background color */
.tbl .w2tb_td.subtotal {background:#d4eee2;font-weight:800;} /* 소계 */
.tbl .w2tb_td.total {background:#d6e5f8;font-weight:800;} /* 합계 */
.tbl .w2tb_td.col_blue, .tbl .w2tb_th.col_blue {background:#f6f7fb;font-weight:700;}
.tbl .w2tb_td.col_skyblue, .tbl .w2tb_th.col_skyblue {background:#c8efff;}
.tbl .w2tb_td.col_pink, .tbl .w2tb_th.col_pink {background:#ffd4dc;}
/* Table 칼럼 내부 테이블 */
.tbl.inner:before {content:none;}
.tbl.inner .w2tb_th {background:#f0f0f0;}
.tbl.inner .w2tb_th, 
.tbl.inner .w2tb_td {font-size:12px;}
/* 테이블,GridView 내 버튼 */
.tbl .btn {padding:0 8px;min-width:42px;border:1px solid #79839d;color:#303958;}
/* 필수입력항목 표시 */
.bul_req {display:inline-block;width:6px;height:6px;padding-right:8px;background:url(/cm/images/ico_req.png) no-repeat;font-size:0;vertical-align:top;}

/* GridView */
.grid {width:100%;}
.grid .gridHeaderTableDefault {border:1px solid #d9dff8;}
.grid th.gridHeaderTDDefault {border-top:0;border:1px solid #d9dff8;background:#e8edf6;}
.grid th.gridHeaderTDDefault nobr{padding:0;color:#2f4882;font-family:'돋움', Dotum;font-size:13px}
.grid td.gridBodyDefault {border:1px solid #edf0f4;}
.grid .gridHeaderTableDefault tr:nth-of-type(2) .gridHeaderTDDefault {border-top-color:#c2c7d5;}
.grid .gridFooterTableDefault {border:1px solid #c2c7d5;border-top: 0;}
.grid .gridSubtotalDefault,
.grid .gridFooterTDDefault {background:#d6e5f8;height:28px;color:#333;font-weight:800;font-size:12px;border:1px solid #c2c7d5;border-bottom:0;border-left:0;}
.grid .gridSubtotalDefault {padding:0 6px;background:#d4eee2;} 
.grid .gridFooterTDDefault {background:#d6e5f8;}
.grid .gridBodyDefault button {width:calc(100% - 10px) !important;height:22px !important;border:1px solid #79839d;border-radius:2px;background:white;color:#415066;font-family:'돋움', Dotum;font-size:12px;cursor:pointer;}
.grid .gridBodyDefault.w2grid_default_disabled button,
.grid .gridBodyDefault.w2grid_default_disabled.blue button{border-color:#b3bacb;background:#e3e5ec !important;color:#777;cursor:default;}
.grid .gridHeaderTableDefault a {color:#3150a7;}
.grid .w2grid_default_disabled nobr,
.grid .w2grid_default_disabled nobr a {color:#777;}
.grid .gridHeaderTDDefault_rowNumber {text-align:center;}
.grid + .grid {margin-top:16px;}
/* GridView Column InputType */
.gridBodyDefault_select {background-image:url(/cm/images/ico_selectbox.png);}
.gridBodyDefault_calendar,
.w2inputCalendar_button {top:2px !important;width:22px;height:22px;background: url(/cm/images/ico_cal.png) no-repeat  right 2px center !important;}
.gridBodyDefault.btn_sch button {width: 30px !important;background: url(/cm/images/ico_search.png) no-repeat center; text-indent: -9999px;}
.grid .gridBodyDefault.w2grid_default_disabled.btn_sch button {background:#e3e5ec url(/cm/images/ico_search.png) no-repeat center  !important; cursor: default;}
.grid .gridBodyDefault.blue button {border:1px solid #303958;background:#303958;color:#fff;}
/* GridView Column Color */
.grid th.gridHeaderTDDefault.red, .grid .gridBodyDefault.red {color:#924c89;}
.grid th.gridHeaderTDDefault.blue, .grid .gridBodyDefault.blue {color:#5ba7b6;}
.grid th.gridHeaderTDDefault.gray, .grid .gridBodyDefault.gray {color:#666;}
.grid th.gridHeaderTDDefault.green, .grid .gridBodyDefault.green {color:#5fa872;}
/* 조회결과 없음 메시지 */
.noResult {position:absolute;display:block;left:50% !important;top:48px !important;margin-left:-75px !important;width:150px !important;text-align:center;border:0 !important;color:#333 !important;font-family:'돋움', Dotum;font-size:12px !important;background:transparent !important;}
.noResult_2 {position:absolute;display:block;left:50% !important;top:65px !important;margin-left:-75px !important;width:150px !important;text-align:center;border:0 !important;color:#333 !important;font-family:'돋움', Dotum;font-size:12px !important;background:transparent !important;}
/* 버튼 */
.grid .gridBodyDefault.del button {border:0;background-image: url(/cm/images/mbi/ico_closeBtn.png); background-color: transparent;background-size:18px; background-repeat: no-repeat; background-position: center !important;;color:#415066;font-size:0;}
.grid .gridBodyDefault.sch button {border:0;background-image: url(/cm/images/mbi/ico_search.png); background-color: transparent;background-size:42px; background-repeat: no-repeat; background-position: center !important;;color:#415066;font-size:0;}
.grid.noline td.gridBodyDefault {border:0}
.grid .gridBodyDefault.noline_R{border-right:0}
.grid .gridBodyDefault.noline_L{border-left:0}
/* 전체 line 없음 */
.grid.noline td.gridBodyDefault {border:0}
.grid.noline .gridHeaderTableDefault {border: 0;}
/* 좌우 line 없음 */
.grid.noline_RL td.gridBodyDefault {border-right:0; border-left:0}
.grid.noline_RL .gridHeaderTableDefault{border:0}

/* Upload, Multiupload */
.w2upload {position:relative;width:150px;height:22px;}
.w2upload.full {width: 100%;}
.w2upload .w2upload_input {height:22px;}
.w2upload .w2upload_input {width:calc(100% - 26px);height:22px;padding:0 4px;}
.w2upload .w2upload_image {top:0;right:0;width:22px;height:22px;margin-left:0;border:1px solid #79839d;border-radius:2px;background-image:url(/cm/images/ico_up.png);background-position:center;cursor: pointer;}
.w2multiupload_uploader {position:relative;height:22px;width:66px;margin-right:4px;display:inline-block;vertical-align:middle;}
.w2multiupload_uploader > span {border:1px solid #415066;border-radius:2px;font-weight:bold;font-family:'맑은 고딕', Malgun Gothic, '돋움', Dotum;font-size: 12px !important;text-align:center;line-height:20px;}
.w2multiupload_uploader > span:before {content:'파일추가';}
.w2multiupload_uploader > span:hover {background:#f3f4f9;}
.w2multiupload_uploader > span input[type=file] {position:absolute;top:0;left:0;cursor:pointer;}
 /* 파일첨부 양식 */
.fileuploadBox .btnarea {float:right;padding:4px 0;}
.fileuploadBox .btnarea .btn {border:1px solid #415066;}

/* 버튼 */
.btn,
a.btn {min-width: auto !important;height:40px;padding:0 8px;border:0;border-radius:8px;background:#003b8f;color:#fff;font-size:14px;font-weight:bold;}
a.btn {display:inline-block;text-decoration:none;text-align:center;line-height:22px;color:#fff;line-height:26px;}
.btn:hover {background:#f3f4f9;}
.btn.w2trigger_disabled {opacity:.5;}
.btn +.btn {margin-left:4px;}
.btn.blue {border:0;background:#303958;}

/* 프로세서 버튼 */
.btn.pro{height:40px;font-size:14px;color:#fff;}
.btn.pro.base {border:0;background:#303958;font-size:14px;color:#fff;}
.btn.pro.darkgray {background:#434b5b;}
.btn.pro.green {background:#5eaa7f;} 
.btn.pro.cancel {background:#8f95a0;} 

.btn.more{width:100%;background:#deebf9; border:1px solid #003b8f; color:#003b8f;font-size:13px;line-height: 37px;}
.btn.more span{position: relative;}
.btn.more span:before{content:'';position: absolute; left: -17px; top: 9px;display:inline-block; width: 13px; height: 1px; background: #003b8f;}
.btn.more span:after{content:'';position: absolute; left: -11px; top: 3px;display:inline-block; width: 1px; height: 13px; background: #003b8f;}

 .btn.up{width:42px;height:42px;background-color:#f7f7f8;background-image:url(/cm/images/mbi/ico_up.png);background-size:42px; background-repeat: no-repeat;background-position: center;font-size:0}
 .btn.down{width:42px;height:42px;background-color:#f7f7f8;background-image:url(/cm/images/mbi/ico_down.png);background-size:42px; background-repeat: no-repeat;background-position: center;font-size:0}

/* 아이콘 버튼 */
.btn.glass  {text-indent:-9999px;min-width:28px;}
.btn.glass {background:url(/cm/images/ico_search.png) transparent no-repeat center;} /* 돋보기 */
.btn.glass:hover {background-color:#f3f4f9;}
.btn.cal  {text-indent:-9999px;min-width:28px;}
.btn.cal {background:url(/cm/images/ico_cal.png) transparent no-repeat center;} /* 달력 */
.btn.cal:hover {background-color:#f3f4f9;}
.bt_plus,
.bt_minus,
.bt_linecopy {width:22px;height:22px;text-indent:-9999px;}
.bt_plus {background:url(/cm/images/btn_plus.png) no-repeat center;} /* 행추가 */
.bt_minus {background:url(/cm/images/btn_minus.png) no-repeat center;} /* 행삭제 */
.bt_linecopy {background:url(/cm/images/btn_linecopy.png) no-repeat center;} /* 행복사 */
[class*=bt_] + [class*=bt_],
[class*=btn] + [class*=bt_] {margin-left:4px;}
/* 버튼그룹 */
.btnGroup {display:flex;justify-content:space-between; padding:20px}
.btnGroup .btn{width:100%;}
.btnGroup.col2 .btn +.btn {margin-left:20px;}
.btnGroup.col3 .btn +.btn {margin-left:10px;}
.btnGroup.foot{background:#f8fafc; border-top:1px solid #eaebee}
.btnGroup.fix{position:fixed;left:0;right:0;bottom:0;background:#f8fafc; border-top:1px solid #eaebee}

.gridbtnGroup{display:flex;justify-content:space-between;padding:20px 0 0}
.gridbtnGroup .flexgrow1{flex-grow: 1;}
.gridbtnGroup div + div{margin-left:20px}
    

 /* 콤퍼넌트 공통 여백 설정 */
.grid + .tbl {margin-top:16px;}
.inp + .btn,
.inp + .sel,
.sel + .btn,
.sel + .inpcalWrap,
.sel + .inpSch,
.sel + .inpcal,
.sel + .radioGroup,
.inp + .inp,
.btn + .inp,
.inpcal + .inp,
.inpSch + .btn,
.w2tb_td .sel + .fr,
.w2tb_td .inp + .fr {margin-left:4px;}
.w2tb_th .w2textbox  + .chkGroup {margin-left:5px;}
.inpcalWrap + .inp {margin-left:20px;}
.w2tb_td .w2textbox  + .w2span {padding-left:4px;}
.inp + .radioGroup,
.inp + .chkGroup {padding-left:10px;} 
.txt {padding:0 4px;}
.sel + span,
.inp + .txt {vertical-align:middle;}
.searchSection + .grid {margin-top: 20px}
.searchSection + .tbl{margin-top: 20px}
.tbl + .grid {margin-top:16px;}


/***********************************************************************************************************************************
	Popup
***********************************************************************************************************************************/
/* Popup Contents */
.pop_contents {padding:20px;}
.pop_contents .btnGroup{padding:20px 0}

.w2modal {opacity: 0.6;background-color:#000;}
.w2modal_popup {background-color:#000;}
.w2popup_window {overflow:hidden;border:1px solid #003b8f;box-shadow:8px 8px 5px 0 rgba(0,0,0,0.1);}
.w2popup_window:focus {outline:none;}
.w2popup_window .w2window_header {height:35px;background:#003b8f;}
.w2popup_window .w2window_header .w2window_header_icon {display:none;}
.w2popup_window .w2window_header .w2window_header_title {left:0;padding:0 0 0 20px;font-size:15px;color: white;height: 35px;line-height: 35px;}
.w2popup_window .w2window_body {top:35px;padding:0;background-color:transparent;}
.w2popup_window .w2window_body .w2window_content {padding:0;border:none}
.w2popup_window .w2window_body .w2window_content {top:0;right:0;bottom:0;left:0;border:none}
.w2popup_window .w2window_close {display:block;left:auto;top:0;right:8px;width:35px;height:35px;background:transparent;z-index:10;transition:.2s all;font-size:0;text-indent:-999px;}
.w2popup_window .w2window_close:before {content:'';position:absolute;top:17px;left:9px;width:15px;height:2px;background:white;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
.w2popup_window .w2window_close:after {content:'';position:absolute;top:17px;left:9px;width:15px;height:2px;background:white;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
/* 시스템메시지 팝업 */
.alertPopup {padding:20px;}
.alarmbox.w2textarea {padding-top:20px;border:0;text-align:center;font-weight:bold;font-size:13px;}
.messageBox {padding-top:65px;text-align:center;}
.w2popup_window.alert .messageBox {background:url(/cm/images/alt_conf.png) no-repeat top center;}  /* 정보,알림 */
.w2popup_window.confirm .messageBox {background:url(/cm/images/alt_conf.png) no-repeat top center;}  /* 확인 */
.w2popup_window.error .messageBox {background:url(/cm/images/alt_caution.png) no-repeat top center;} /* 오류 */
.w2popup_window.warn .messageBox {background:url(/cm/images/alt_info.png) no-repeat top center;} /* 경고 */
.messageBox .text {line-height:1.6;}
.messageBtn {overflow: hidden;margin-top:20px;}
.messageBtn a + a {margin-left:4px;}


/***********************************************************************************************************************************
	Page
***********************************************************************************************************************************/

 /* 콘텐츠 타이틀 영역 */
.title_lv1 {overflow:hidden;padding:10px 20px;display:flex;justify-content:space-between;align-items:flex-end;}
.title_lv1 .tit_tbl {display:inline-block;margin-right:8px;color:#111;font-weight:bold;font-size:15px;}
.title_lv1 .btnarea {display:inline-block;padding-left:10px;}
.title_lv1 .btnarea .btn{height:24px; background: #deebf9; border: 1px solid #003b8f;color: #003b8f; font-size:13px; min-width: auto;}

 /* 신청서 영역 */
.inpSection{position:relative;border-bottom:1px solid #eaebee; background:#fff; padding:20px}
.inpSection + .inpSection{margin-top:12px;border-top:1px solid #eaebee;}
.inpSection + .inpSection:before{content:'';position:absolute;top: -13px; left: 0;right:0 ; height: 12px; background: #f8fafc;}
.inpSection.last{border-bottom:0}

.inpSection .title_lv1{padding:0 0 10px }
.inpSection label{display: block;padding:4px 0 8px; font-size:13px; color:#5e7084}
.inpSection label.req{color:#e83e3e;}
.inpSection label.req:after{content:'*';display: inline-block;color: #e83e3e;}
.inpSection .con{display: inline-block; padding:0 0 0 8px; width:50px}
.inpSection .con.pl0{padding:0}
.inpSection .sel + .inp {margin-top:4px; margin-left:0}


.inpbox{padding: 5px 10px 4px; border: 1px solid #e4e4e4; background: #f7f7f8;border-radius:8px}

.allbox{display:flex; justify-content:space-between;align-items:center;margin-top:20px;padding: 12px 10px; background: #434b5b;border-radius:8px}
.allbox span{color:#fff;font-weight:bold;font-size:14px}
















 /* 페이지공통 검색영역 */
.searchSection {overflow:hidden;position:relative;padding:16px;border:1px solid #c2c7d5;border-top:2px solid #79839d;background:#e1e4ed;}
.searchSection .schbox {width:calc(100% - 80px);}
.searchSection .schbox .tbl:before {content:none;}
.searchSection .schbox .tbl .w2tb_th,
.searchSection .schbox .tbl .w2tb_td {height:22px;padding:0;border:0;background:transparent;}
.searchSection .schbox .tbl .w2tb_th {padding:0;text-align:right;}
.searchSection .schbox .tbl .w2tb_td {padding-left:10px;}
.searchSection .schbox .tbl .w2tb_td .dash {display:inline-block;width:16px;text-align:center;}
.searchSection .schbtn {position:absolute;right:16px;bottom:16px;}
.searchSection .schbtn .btn.icon.init {padding-left:20px;background-position:left 6px center;letter-spacing:-1px}
.searchSection .schbtn .btn_more {margin-left:4px;width:22px;height:22px;border:0;border-radius:2px;background:url(/cm/images/schbox_open.png) #767f95 center no-repeat;text-indent:-9999px;}
.searchSection + .searchSection {margin-top:16px;}
.searchSection .schbox .tbl tr:nth-of-type(n+2) .w2tb_th,
.searchSection .schbox .tbl tr:nth-of-type(n+2) .w2tb_td {padding-top:4px;}
.searchSection .schbox .tbl + .sch_more {display:none;margin-top:3px;}
.searchSection.more .schbox .tbl + .sch_more {display:block;}
.searchSection.more .schbtn .btn_more {background-image:url(/cm/images/schbox_close.png);}
.searchSection.step{height: 57px}
.searchSection.step .btnbox{position:absolute;right:16px;bottom:16px;}
.searchSection.step .le{display: inline-block; text-align:left;}

/* 도움말 박스 */
.helparea {padding:8px 0;}
.helparea li {padding-left:18px;background:url(/cm/images/ico_help_gray.png) no-repeat top 4px left;}
.helparea li span {color:#777;font-size:12px;line-height:1.6;}
.helparea li span.red {color:#d54e21;}
.helparea li span.blue {color:#3150a7;}
.helparea.no {padding-left:14px;}
.helparea.no li {list-style:decimal;padding-left:0;background:none;}
.helparea.no .helptitle{text-indent: -16px;}
.helparea .helptitle {padding-bottom:8px;font-weight:700;}

.helparea.dot li{position: relative; padding-left:12px; background: none}
.helparea.dot li:before{content:'';position:absolute;top: 8px; left: 0; width: 3px; height: 3px; background: #000;}

/* linebox */
.addlinebox{padding: 5px 0; border: 1px solid #eaebee; border-radius:8px }


/* 인풋박스+검색아이콘 */
.inpSch {display:inline-block;border:1px solid #b3bacb;background:white;}
.inpSch .inp {width:calc(100% - 30px);border: 0;height:20px;}
.inpSch .inp + .btn {margin:0;padding:0;min-width:30px;height:20px;border:0;background:url(/cm/images/ico_search.png) no-repeat center;text-indent:-9999px;}
.inpSch:hover {border:1px solid #6a6f7c;}
.inpSch .inp:hover, .inpSch .inp.w2input_focus {border:0;}
.inpSch + .inp {margin-left:4px;}
.inpSch.full {width:100%;}

/* 콘텐츠레이아웃 flexbox */
.flex_lybox {display:flex;justify-content:space-between;}
.flex_lybox > .item {flex-grow:1;margin:0}
.flex_lybox > .item + .item{margin-left:10px}
.flex_lybox + .flex_lybox{margin-top:10px}

/* 콘텐츠레이아웃 float */
.lybox {display:table;width:100%;}
.lybox:after {content:'';display:block;clear:both;}
.ly_column {display: table-cell;float:left;padding:0 10px;margin:0;-moz-box-sizing:border-box;box-sizing:border-box;}
.ly_column:first-child {padding-left:0 !important}
.ly_column:last-child {padding-right:0 !important}
.lybox.col2 .ly_column {width:50%;}
.lybox.col3 .ly_column {width:calc(100% / 3);}
.lybox.col4 .ly_column {width:25%;}
.col_1 {width:10%;}
.col_2 {width:20%;}
.col_3 {width:30%;}
.col_4 {width:40%;}
.col_5 {width:50%;}
.col_6 {width:60%;}
.col_7 {width:70%;}
.col_8 {width:80%;}
.col_9 {width:90%;}




/***********************************************************************************************************************************
	메인 
***********************************************************************************************************************************/
.mainWrap{padding:0 20px; position: relative; height: 100%; }
.mainWrap .formBox{display: flex; justify-content: space-between; align-items: center;width:100%;height:84px; padding:0 20px;border-radius:8px}
.mainWrap .formBox .le span{padding-left:65px;font-size:20px; color:#fff; font-weight:bold}
.mainWrap .formBox .ri .num{font-size:40px; font-weight:bold; color:#fff}
.mainWrap .formBox .ri .com{font-size:21px; color:#fff}
.mainWrap .formBox:first-child{background-color:#2b5ca1;background-image:url(/cm/images/mbi/ico_form01.png); background-size:50px; background-repeat: no-repeat; background-position: 20px center;}
.mainWrap .formBox:nth-child(2){background-color:#5eaa7f;background-image:url(/cm/images/mbi/ico_form02.png); background-size:50px; background-repeat: no-repeat; background-position: 20px center;}
.mainWrap .formBox:nth-child(3){background-color:#7a96cf;background-image:url(/cm/images/mbi/ico_form03.png); background-size:50px; background-repeat: no-repeat; background-position: 20px center;}
.mainWrap .formBox .ico.go{width:35px;height:35px;background-image:url(/cm/images/mbi/ico_form_arrow.png); background-size:35px; background-repeat: no-repeat; background-position: center; font-size:0}
.mainWrap .formBox + .formBox{margin-top:20px}

.mainWrap .linkArea{position: absolute; left: 20px; bottom: 20px; right: 20px;display: flex; justify-content: space-between; }
.mainWrap .linkArea a{display: inline-block;width:50%;height:142px;padding-top:95px;font-size: 16px;color:#28508d; font-weight:bold; text-align: center; text-decoration: none;border:1px solid #d5d5d5; border-radius:8px}
.mainWrap .linkArea a + a{margin-left:20px}
.mainWrap .linkArea a:first-child{background-image:url(/cm/images/mbi/ico_form04.png); background-size:65px; background-repeat: no-repeat; background-position: center 25px;}
.mainWrap .linkArea a:last-child{background-image:url(/cm/images/mbi/ico_form05.png); background-size:65px; background-repeat: no-repeat; background-position: center 25px;}

.localArea{display: flex; justify-content: space-between; }
.localArea a{display: inline-block;width:calc(100%/3);height:92px; text-align: center; font-size: 14px; color:#8f9ab0;text-decoration:none; font-weight:bold; padding-top: 64px;background-color:#eff0f2;}
.localArea a.worktrip{background-image:url(/cm/images/mbi/ico_worktrip.png); background-size:48px; background-repeat: no-repeat; background-position: center 18px;}
.localArea a.workstart{background-image:url(/cm/images/mbi/ico_workstart.png); background-size:48px; background-repeat: no-repeat; background-position: center 18px;}
.localArea a.workoff{background-image:url(/cm/images/mbi/ico_workoff.png); background-size:48px; background-repeat: no-repeat; background-position: center 18px;}
.localArea a + a{margin-left:8px}
.localArea a.on{background-color:#003b8f; color:#fff;}
.localArea a.worktrip.on{background-image:url(/cm/images/mbi/ico_worktrip_on.png); }
.localArea a.workstart.on{background-image:url(/cm/images/mbi/ico_workstart_on.png);}
.localArea a.workoff.on{background-image:url(/cm/images/mbi/ico_workoff_on.png); }

.formbox{}




/***********************************************************************************************************************************
	Common
***********************************************************************************************************************************/
.hide, .hidden {display:none;}
.show {display:block;}
.ofh {overflow:hidden;}

/* form 정렬 */
.fl {float:left;}
.fr {float:right;}

/* text 정렬 */
.le {text-align:left !important;}
.ce {text-align:center !important;}
.ri {text-align:right !important;}

/* Font */
.fwb {font-weight:bold;}
.txt_limit {padding-top:4px;color:#d54e21;font-size:12px;}
.txt_count {margin-top:4px;color:#888;font-size:11px;}  /* byte 체크 */
.txt_count .byte em {font-weight:800;}
.txt_count .txt_limit {padding-top:0; color:#d54e21;font-size:11px; display: inline-block; float: left;}
span.multiline {line-height:1.6;}

/* Font size */
.fs11{font-size: 11px}
.fs16{font-size: 16px}

/* Color */
.red {color:#924c89;}
.blue {color:#5ba7b6;}
.grey{color:#777}
.green{color:#5fa872}

/* cell bg */
.cellbg01{background: #ffd4dc !important;}
.cellbg02{background: #d4eee2 !important}
.cellbg03{background: #c8efff !important}

/**/
.underline{text-decoration: underline}
.linkPoint{cursor: pointer;}

/* padding */
.p0 {padding:0;}
.pt0 {padding-top:0px;}
.pt5 {padding-top:5px;}
.pt10 {padding-top:10px;}
.pr5 {padding-right:5px;}
.pr10 {padding-right:10px;}
.pr20 {padding-right:20px;}
.pb0 {padding-bottom:0px;}
.pb5 {padding-bottom:5px;}
.pb10 {padding-bottom:10px;}
.pl0 {padding-left:0px;}
.pl5 {padding-left:5px;}
.pl10 {padding-left:10px;}
.pl20 {padding-left:20px;}

/* margin */
.mt0 {margin-top:0 !important;}
.mt4 {margin-top:4px !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt16 {margin-top:16px !important;}
.mt20 {margin-top:20px !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb25 {margin-bottom:25px !important;}
.mb30 {margin-bottom:30px !important;}
.mr5 {margin-right:5px !important;}
.mr10 {margin-right:10px !important;}
.ml0 {margin-left:0 !important;}
.ml4 {margin-left:4px !important;}
.ml10 {margin-left:10px !important;}
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;} 

/* FlexBox */
.flex {display:flex;align-items:center;}
.flex > .w2input,
.flex > .w2selectbox,
.flex > .w2checkcombobox {flex-grow:1;margin-left:10px;}
.flex > .inp + .inpSch,
.flex > .inp + .w2textarea{margin-left:4px;}
.flex > div + div{margin-left:10px;}
.flex > *:first-child {margin-left:0 !important;}
.flex > .fix {flex-grow:0;}
.flex_no {-webkit-box-flex:0 !important;-ms-flex:none !important;flex:none !important;}
