/* UI 공통 샘플 화면용 css - 업무화면 적용 금지 */
@charset "utf-8";

/* spinner 
.wq_spn{position:relative;width:100%;height:34px;}
*/

/* dynamic calender 헤더 년 월 순으로 
.w2calendar_picker_header_dynamic_entity .year{position: relative; left: -18px; padding-right: 10px;}
.w2calendar_picker_header_dynamic_entity .year:after{content: ""; display: inline-block; position: absolute; top: 0; right: 0px; height: 12px; border-right: 1px solid #000; transform: rotate(25deg);}
.w2calendar_picker_header_dynamic_entity .month{position: absolute; left: 50%; padding-left: 5px}
*/

/*************** BASE *****************/
/* :focus{outline:none}focus outline:-webkit-focus-ring-color auto 1px;outline-offset:0 라인 없음 */
.w2textarea{display:block;margin:0}/* 브라우저 margin */
.w2trigger{display:-moz-inline-stack;overflow:visible}/* firefox padding 버그 및 ie padding 버그 */
.w2input_disabled,.w2input_readonly,.w2selectbox_disabled{border: 1px solid #d3dbe3;background:#ebeced !important;color:#b4bbc2;cursor:default}

/* form */
.w2input,.w2textarea,.w2inputCalendar_divInput{font-family:"맑은 고딕", dotum, Verdana, Sans-serif;font-size:12px;color:#60656f;border:1px solid #d3dbe3;background:#fff}
.w2input,.w2textarea,.w2selectbox{height:23px;-moz-box-sizing:border-box;box-sizing:border-box}
.w2grid .w2input,.w2grid .w2textarea,.w2grid .w2inputCalendar_divInput{-moz-box-sizing:content-box;box-sizing:content-box}
.w2selectbox,.w2checkcombobox,.w2autoComplete,
.w2upload .w2upload_input,
.w2multiselect_table .w2multiselect_td{border:1px solid #d3dbe3}
.w2checkbox .w2checkbox_item,
.w2radio .w2radio_item{display:inline-block;margin-right:3px}
.w2checkbox .w2checkbox_item input[type="checkbox"]{margin:2px 3px 0 0}
.w2checkbox .w2checkbox_item input[type="checkbox"],
.w2checkbox .w2checkbox_item label{vertical-align:middle}
.w2radio .w2radio_item input[type="radio"]{margin:0 3px 0 0}
.w2radio .w2radio_item input[type="radio"], .w2radio .w2radio_item label{vertical-align:middle}

/* selectbox */
.w2selectbox .w2selectbox_label{padding:0}

/* AutoComplete */
.w2gridViewItemTable_main{background-color:transparent}
.w2gridViewItemTable_main div{z-index:999 !important}
.w2gridViewItemTable_main th{background:#edeef3 !important;border:1px solid #e3e3e3 !important}
/*.w2gridViewItemTable_main .gridHeaderTableDefault .gridBodyDefault.focusedTr{border:1px solid #dbadbb !important;background:#fff6fb !important;color:#b61c21;font-weight:bold}*/
.w2gridViewItemTable_main .gridHeaderTableDefault{border-top:3px solid #757984}

/* 필수입력 표시 */
.ast.w2input,
.ast.w2selectbox,
.ast.w2checkcombobox,
.ast.w2textarea,
.ast.w2upload .w2upload_input,
.ast.w2autoComplete,
.ast.w2multiselect_div .w2multiselect_tr{background-color:#ffffe1}
.ast.w2inputCalendar_div .w2inputCalendar_divInput{background:#ffffe1}
.tbbox .tb .w2tb_th span.ast{background:url(/cm/images/sample/icon_ast.png) no-repeat right 50% !important;padding-right:8px}
.astp.w2input,.astp.w2checkcombobox,.astp.w2radio{background-color:#fff6fb}

/* focus */
.w2input.w2input_focus,.w2inputCalendar_div .w2inputCalendar_focus{border:1px solid #d3dbe3}

.ipt_cal{min-width:215px}

/* FontColor */
.font_red{color:#c83d67}

/* 화면상단 조회버튼 */
.btn_search{display:inline-block;width:23px;height:23px;line-height:23px;color:#36aeea;font-weight:bold;border:1px solid #36aeea;background:#fff url(/cm/images/sample/btn_tbsearch02.png) no-repeat;border-radius:2px;vertical-align:middle;text-indent:-9999px}
.btn_search.w2anchor_disabled,.btn_search[readonly]{cursor:default}
.btn_search.type02{background-image:url(/cm/images/sample/btn_tbsearch02.png) !important}

/* 모듈제어버튼 */
.btn_cm{display:inline-block;height:23px;line-height:21px;padding:0 5px;margin:4px 0 2px 3px;font-size:12px;font-weight:bold;color:#60656f;border:1px solid #60656f;background:#fff;border-radius:2px;vertical-align:middle;-moz-box-sizing:border-box;box-sizing:border-box;}
.btn_cm:hover{border:1px solid #757984;background:#757984;color:#fff}
.btn_cm.w2anchor_disabled ,.btn_cm[readonly]{cursor:default;border:1px solid #d2d4d9 !important;background:#edeef3;color:#d2d4d9 !important}

/* 모듈제어버튼 - 엑셀업로드,다운로드 */
.btn_cm.upper{position:relative;padding-right:21px;background:url(/cm/images/sample/ico_upper.png) no-repeat right center}
.btn_cm.upper:hover{background:#757984 url(/cm/images/sample/ico_upper_on.png) no-repeat right center}
.btn_cm.lower{position:relative;padding-right:21px;background:url(/cm/images/sample/ico_lower.png) no-repeat right center}
.btn_cm.lower:hover{background:#757984 url(/cm/images/sample/ico_lower_on.png) no-repeat right center}

/* 모듈제어버튼 - 행추가,행삭제 */
.btn_cm.add_row{width:23px;padding-left:0;padding-right:0;background:url(/cm/images/sample/ico_btnAdd.png) no-repeat center center !important;text-indent:-9999px}
.btn_cm.del_row{width:23px;padding-left:0;padding-right:0;background:url(/cm/images/sample/ico_btnDel.png) no-repeat center center !important;text-indent:-9999px}

/* 전체제어버튼 영역 */
.btnbox{position:relative;width:100%;min-height:14px;padding:7px 0 3px;margin:0}
.btnbox:after{display:block;visibility:hidden;clear:both;height:0;font-size:0;line-height:0;content:'.'}
.btnbox .fl .btn_cm:first-child{margin-left:0}

/* 전체제어버튼 색상 */
.btn_cm.ty1{color:#3eaae8;border:1px solid #3eaae8}
.btn_cm.ty2{color:#58ba3d;border:1px solid #58ba3d}
.btn_cm.ty3{color:#c67400;border:1px solid #c67400}
.btn_cm.ty1:hover{color:#fff;border:1px solid #3eaae8;background:#3eaae8}
.btn_cm.ty2:hover{color:#fff;border:1px solid #58ba3d;background:#58ba3d}
.btn_cm.ty3:hover{color:#fff;border:1px solid #c67400;background:#c67400}

.btn_cm.btn_cm_blue{color:#fff;border-color:#3eaae8;background-color:#3eaae8}
.btn_cm.btn_cm_blue02{color:#3eaae8;border-color:#3eaae8}
.btn_cm.btn_cm_blue02:hover{background-color:#3eaae8; color:#fff}

/* 아이콘버튼 */
.btn_cm.ic_sch,
.btn_cm.ic_prt,
.btn_cm.ic_hel,
.btn_cm.ic_bmk{padding-left:20px}
.btn_cm.ic_sch{background:#fff url(/cm/images/sample/ico_cm_search.png) no-repeat 5px center}
.btn_cm.ic_prt{background:#fff url(/cm/images/sample/ico_cm_print.png) no-repeat 5px center}
.btn_cm.ic_hel{background:#fff url(/cm/images/sample/ico_cm_help.png) no-repeat 5px center}
.btn_cm.ic_bmk{background:#fff url(/cm/images/sample/ico_cm_keep.png) no-repeat 5px center}
.btn_cm.ic_sch:hover{border:1px solid #757984;color:#fff;background:#757984 url(/cm/images/sample/ico_cm_search_on.png) no-repeat 5px center}
.btn_cm.ic_prt:hover{border:1px solid #757984;color:#fff;background:#757984 url(/cm/images/sample/ico_cm_print_on.png) no-repeat 5px center}
.btn_cm.ic_hel:hover{border:1px solid #757984;color:#fff;background:#757984 url(/cm/images/sample/ico_cm_help_on.png) no-repeat 5px center}
.btn_cm.ic_bmk:hover{border:1px solid #757984;color:#fff;background:#757984 url(/cm/images/sample/ico_cm_keep_on.png) no-repeat 5px center}
.btn_cm.mv_left,
.btn_cm.mv_right,
.btn_cm.mv_up,
.btn_cm.mv_down{width:20px;height:20px;text-indent:-9999px;border:none}
.btn_cm.mv_left{background:url(/cm/images/sample/btn_file_left.png) no-repeat}
.btn_cm.mv_right{background:url(/cm/images/sample/btn_file_right.png) no-repeat}
.btn_cm.mv_up{background:url(/cm/images/sample/btn_file_up.png) no-repeat}
.btn_cm.mv_down{background:url(/cm/images/sample/btn_file_down.png) no-repeat}

/* 공통 버튼 큰것 - table, gridview 상단 */
.btn_cm.md{height:23px;padding:0 25px}
/* 공통 버튼 가장큰것 - 업무화면 하단 버튼 */
.btn_cm.lg{height:31px;padding:0 30px;font-size:14px}

/* defaultBox Title */
.dfbox{position:relative;width:100%;min-height:14px;margin:10px 0 0}/* 타이틀 박스 */
.dfbox:after{display:block;visibility:hidden;clear:both;height:0;font-size:0;line-height:0;content:'.'}
.dfbox .df_tit{padding:0 0 0 15px;font-size:12px;line-height:24px;font-weight:bold;background:url(/cm/images/sample/bg_df_tit_ico.png) no-repeat 0 7px}
.dfbox .noti{background:url(/cm/images/sample/icon_noti.png) no-repeat 0 7px;padding-left:14px;margin-left:10px;letter-spacing:-1px;color:#3eaae8;line-height:24px}
.dfbox .txt_sys{display:inline-block}
.dfbox .txt_sys > *{display:inline-block;margin:0 3px;line-height:19px;vertical-align:middle}

/* search table */
.shbox{position:relative;padding:8px;margin:10px 0 0;background:#e5e5e5;border:1px solid #d2d2d2}
.shbox .tb{border:0}
.shbox .tb .w2tb_th,
.shbox .tb .w2tb_td{border:0;background:transparent;height:24px}
.shbox .tb .w2tb_th{color:#60656f;padding:0 3px;font-weight:bold;background:transparent;text-align:right}
.shbox .tb .w2tb_th .w2input,
.shbox .tb .w2tb_td .w2input,
.shbox .tb .w2tb_th .w2selectbox,
.shbox .tb .w2tb_td .w2selectbox{}
.shbox .shbox_inner{position:relative;padding:0;margin:0 61px 0 0}
.shbox .btn_shbox{position:absolute;top:50%;right:8px;width:51px;height:23px;margin:-12px 0 0;text-align:right}
.shbox .btn_shbox .btn_cm{margin:0}
.shbox .tb .w2tb_td .w2span{margin:0 3px}
.shbox .tb .w2checkcombobox{height:17px}
.w2table_ccb_col{padding:0}
.w2checkcombobox_label{padding-top:0}
.shbox .btn_search {color:#fff; border:none; background: url(/cm/images/sample/btn_tbsearch02.png) no-repeat; margin-left:3px; width:23px; height:23px; padding:0}
.shbox .btn_icon2{display:inline-block;padding: 1px 5px 0 20px;height:15px;line-height:15px;font-size:12px;font-weight:bold;color:#66717f;border:1px solid #757984;background:#fff;border-radius:2px;vertical-align:middle}
.shbox .btn_icon2.w2anchor_disabled, .btn_icon[readonly]{cursor:default;border: 1px solid #d2d4d9 !important; background:#edeef3; color:#d2d4d9 !important;}
.shbox .btn_isearch {background:url(/cm/images/sample/bg_btn_search.png) no-repeat 5px 0 #fff;float:right}

/* table */
.tbbox{position:relative;padding:0;margin:0}
.tb{width:100%;border-spacing:0;border-top:1px solid #e3e3e3;border-right:1px solid #e3e3e3}
.tb .w2tb_th,.tb .w2tb_td{height:26px;color:#66717f;padding:3px;border:0;border-left:/*1px solid #d8dfe6*/ 1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;background:#fff}
.tb thead .w2tb_th{background:#edeef3;text-align:center;font-weight:normal}
.tb .w2tb_th{font-weight:normal;padding:4px;text-align:center;background:#f6f6f6}
.tb .w2tb_th.ast{color:#3eaae8;background-image:url(/cm/images/sample/bg_point_ico.png);background-position:0 0;background-repeat:no-repeat}
.tbbox .tb .w2tb_th,
.tbbox .tb .w2tb_td{height:17px}
.tbbox .tb .w2tb_th{text-align:left;font-weight:bold;letter-spacing:-1px}
.tbbox .tb .w2tb_th .w2input,
.tbbox .tb .w2tb_td .w2input,
.tbbox .tb .w2tb_td .w2textarea,
.tbbox .tb .w2tb_th .w2selectbox,
.tbbox .tb .w2tb_td .w2selectbox{}
.tbbox .tb .w2tb_td .w2span {margin-right:3px}
.tbbox .btn_cm{color:#fff;border:1px solid #9da1a9;background:#9da1a9;margin:0;margin-top:1px}
.tbbox .tb .w2tb_td .w2input,
.tbbox .tb .w2tb_td .w2selectbox,
.tbbox .tb .w2tb_td .w2selectbox,
.tbbox .tb .w2tb_td .w2trigger,
.tbbox .tb .w2tb_td a{margin-right:3px}
.tbbox .btn_search{color:#fff;border:none;background:url(/cm/images/sample/btn_tbsearch02.png) no-repeat;margin:0;width:23px;height:23px;padding:0}

/* Gridview */
.gvwbox{position:relative;margin:15px 0 0}
.wq_gvw{border:none;border-top:1px solid #60656f}
.wq_gvw .gridHeaderTableDefault{border:0;border-right:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3}
.wq_gvw thead.gridHeaderTableDefault{border:0}
.wq_gvw nobr{display:inline-block}
.wq_gvw th.gridHeaderTDDefault{border: 1px solid #60656f; background: #f6f6f6; font-size:12px;height:29px;color:#60656f}
.wq_gvw th.gridHeaderTDDefault.ast{color:#3eaae8;background-image:url(/cm/images/sample/bg_point_ico.png);background-position:0 0;background-repeat:no-repeat}
.wq_gvw tr:first-child th.gridHeaderTDDefault{border-top:0;height:22px}
.wq_gvw .gridBodyDefault{border:1px solid #dddddd;border-width:1px 0 0 1px;color:#66717f}
.wq_gvw.gridFooterTDDefault{background:#d6eaff;border-width:0 1px 1px 1px}
.wq_gvw .gridBodyDefault_rowNumber{background: #edeef3 !important}
.wq_gvw .gridBodyDefault button{width:auto !important;height:calc(100% - 4px) !important;position:relative;display:inline-block;margin:2px;padding:2px 5px;cursor:pointer;overflow:hidden;border:1px solid #60656f;color:#60656f;background:#fff;border-radius:2px;}
.wq_gvw .w2grid_embedded_input{padding:0 4px; font-family: Malgun Gothic, 맑은 고딕, arial}
/*.wq_gvw .focusedTr{border:1px solid #dbadbb;background:#fff6fb !important;color:#b61c21;font-weight:bold}*/
.wq_gvw .w2checkbox_label{vertical-align:top}
.wq_gvw .gridBodyDefault.col_cr1{background-color:#e5f3f8}
.wq_gvw .gridBodyDefault.col_cr2{background-color:#ffeeef}
.wq_gvw .gridBodyDefault.col_cr3{background-color:#f4f6e3}
.wq_gvw .gridBodyDefault.col_cr4{background-color:#fef3e2}
.wq_gvw .gridBodyDefault.x_header{background-color:#ffeeef}
.wq_gvw .gridBodyDefault.y_header{background-color:#ffeeef}
.wq_gvw .btn_cm a{display:inline-block;padding:2px 5px 2px;margin:4px 0 2px 3px;height:13px;line-height:13px;font-size:12px;font-weight:bold;color:#140f30;border:1px solid #140f30;background:#fff;border-radius:2px;vertical-align:middle}
.wq_gvw .btn_cm.w2anchor_disabled a,
.wq_gvw .btn_cm[readonly] a{cursor:default;border:1px solid #d2d4d9 !important;background:#edeef3;color:#d2d4d9 !important}
.wq_gvw .gridBodyDefault_calendar{background-image:url(/cm/images/sample/bg_btn_calendar_ico.png)}
.wq_gvw .w2inputCalendar_div .w2inputCalendar_div_input{-moz-box-sizing:border-box;box-sizing:border-box}
.wq_gvw .w2inputCalendar_div .w2inputCalendar_button{top:2px !important}
/* 읽기전용 컬럼 아이콘 숨김 */
.wq_gvw .w2grid_default_disabled,
.wq_gvw .w2grid_default_readonly{ background-image: none}

/* pagelist */
.wq_pglist{position:relative;width:100%;height:19px;margin-top:10px}
.wq_pglist .w2pageList_col_label{}
.wq_pglist .w2pageList_control_label{}
.wq_pglist .w2pageList_control_label.w2pageList_label_over{}
.wq_pglist .w2pageList_control_label.w2pageList_label_selected{color:#3eaae8}
.wq_pglist .w2pageList_col_prevPage{width:21px;height:19px;background:url(/cm/images/sample/pg_list_first.png) no-repeat left center}
.wq_pglist .w2pageList_col_prev{width:21px;height:19px;background:url(/cm/images/sample/pg_list_prev.png) no-repeat left center}
.wq_pglist .w2pageList_col_next{width:21px;height:19px;background:url(/cm/images/sample/pg_list_next.png) no-repeat right center}
.wq_pglist .w2pageList_col_nextPage{width:21px;height:19px;background:url(/cm/images/sample/pg_list_last.png) no-repeat right center}
