<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>생기원-파트너기업 선정 안내</title>
    <style>
      #kitech-mailer-template-h1::after{content:\"\ display:block;height:4px;margin-top:10px;background:#fdc42d;background:linear-gradient(to right, #fdc42d 0%,#fdc42d 33%,#334752 33%,#334752 67%,#7dbc39 67%)}
    </style>
    
  </head>
  <body>
    <div id="kitech-mailer-tempalate-wrap" style="display:block;position:relative;background:#fff;">
      <div id="kitech-mailer-template-container" style="margin:0;padding:0;position:relative;width:758px;margin:20px auto;border:1px solid #d4d4d4;">
        <div id="kitech-mailer-template-nav" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;height:50px;background:#fbf9f3;'>
          <a id="kitech-mailer-template-link1" href="http://www.kitech.re.kr" target="_blank" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;display:inline-block;position:relative;white-space:nowrap;overflow:hidden;text-indent:100%;width:105px;height:33px;top:8px;left:20px;background:url(\"https://ksauth.kitech.re.kr:8443/vendor/mail_img/logo_kitech.png\") no-repeat center center;'>한국생산기술연구원</a>
          <a id="kitech-mailer-template-link2" href="http://neip.kitech.re.kr" target="_blank" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;display:inline-block;position:relative;float:right;white-space:nowrap;overflow:hidden;text-indent:100%;width:56px;height:21px;top:14px;right:20px;background:url(\"https://ksauth.kitech.re.kr:8443/vendor/mail_img/logo_eip2.1.png\") no-repeat center center;'>EIP3.0 종합정보시스템</a>
        </div>
        <div id="kitech-mailer-template-header" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;padding:20px 0;text-align:center;backgroud:yellow;'>
          <h1 id="kitech-mailer-template-h1" style='font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;display:inline-block;margin:0;padding:0;font-size:28px;font-weight:bold;color:#000;'>생기원-파트너기업 선정 안내</h1>
        </div>
        <div id="kitech-mailer-template-body" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;padding:0 20px;padding-left:80px;'>
          <div style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;position:relative; vertical-align:middle;width:90%;'>
            <div style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;font-size:18px; font-weight:bold;padding:10px;'>한국생산기술연구원 사업지원부 기업협력지원실 입니다. </div>
            <div id="kitech-mailer-template-body" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;padding:0 20px;'>
              <p style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'><strong style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'> 저희 원의 파트너기업에 관심을 가져주심에 감사드리며,<br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'/> 귀 사는 한국생산기술연구원의 파트너기업으로 아래와 같이 선정되어 안내 드립니다. </strong></p>
              <p style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'>
              </p>
              <table style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;width:100%;margin:10px 0;border-collapse:collapse;border:1px solid #629e21;'>
                <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'>
                  <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;'>지정번호</th>
                  <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;padding:10px;border:1px solid #ddd;'>@appontNo@</td>
                  <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;'>지정일</th>
                  <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;padding:10px;border:1px solid #ddd;'>@appontYmd@</td>
                </tr>
                <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'>
                  <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;'>관리지역</th>
                  <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;padding:10px;border:1px solid #ddd;' colspan="3">@regionCentr@</td>
                </tr>
                <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'>
                  <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;'>기술지원 멘토</th>
                  <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;padding:10px;border:1px solid #ddd;' colspan="3">@mentoNm@ @mentoPosiNm@</td>
                </tr>
                <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'>
                  <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;'>멘토 연락처</th>
                  <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;padding:10px;border:1px solid #ddd;' colspan="3">@mentoTel@/@mentoEmail@</td>
                </tr>
                <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'>
                  <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;'>제도 운영 담당</th>
                  <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;padding:10px;border:1px solid #ddd;' colspan="3">유선희 사무원(041-589-8657, gsaty3398@kitech.re.kr)</td>
                </tr>
                <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'>
                  <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;'>제도 운영 총괄</th>
                  <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;padding:10px;border:1px solid #ddd;' colspan="3">동승화 선임행정원(041-589-8315,dsh8219@kitech.re.kr)</td>
                </tr>
              </table>
              <p style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'><strong style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'> ※ 지정패는 등록하신 수령처로 별도 발송 예정. </strong></p>
              <p style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'><br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'/> 
							</p>
              <p style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'>생기원-파트너기업 선정 시, 아래의 사항들에 대하여 지원 및 활용 가능합니다.</p>
              <p style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'>
              </p>
              <table style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;width:100%;margin:10px 0;border-collapse:collapse;border:1px solid #629e21;'>
                <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'>
                  <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;padding:10px;border:1px solid #ddd;'>- 1:1 전담멘토 매칭 <br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'/> - R&D 기반 기술지원 및 공동연구<br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'/> - 우수 연구인력 파견 <br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'/> - 현장출장·파견을 통한 밀착지원</td>
                  <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;padding:10px;border:1px solid #ddd;'>- 2개 개방형실험실을 통한 연구장비 활용 <br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'/> - “연구기반활용사업(바우처)”  <br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'/>  우선 지원을통한 사용료 부담 경감 <br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'/> - 기술커뮤니티를 통한 기술혁신 교류</td>
                </tr>
              </table>
              <p style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'>위와 같은 기업 지원과 더불어 기술정책 정보, 최신기술동향, 기술포럼 등 다양한 정보를<br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'/> 상시 제공하고 지속적인 협력관계 구축 및 교류를 통해 귀 사의 성장과 발전을 지원하겠습니다.</p>
              <p style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'>
                <br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'/> 
							감사합니다. 
						</p>
            </div>
          </div>
          <div id="kitech-mailer-template-footer" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;position:relative;margin-top:20px;padding:10px 0 10px 200px;font-size:12px;line-height:18px;color:#444;background:#fbf9f3 url(\"https://ksauth.kitech.re.kr:8443/vendor/mail_img/logo_bottom.png\") no-repeat 30px 18px;'>
            본 메일은 한국생산기술연구원 종합정보시스템(EIP3.0)을 통해 발송된 메일입니다.<br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'>
            31056 충청남도 천안시 서북구 입장면 양대기로길 89 한국생산기술연구원<br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:\"Apple SD Gothic Neo\", \"Malgun Gothic\", Sans-Serif;'>
            Copyright&copy; KITECH All Right Reserved. 
					</div>
        </div>
      </div>
    </div>
  </body>
</html>
