<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "classpath:/inswave/spring/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="localCacheScope" value="STATEMENT" />
		<setting name="jdbcTypeForNull" value="NULL" />
		
		<!-- setting name="mapUnderscoreToCamelCase" value="true" / -->
		<!-- setting name="defaultStatementTimeout" value="30"/ -->
	</settings>

	<typeAliases></typeAliases>


	<typeHandlers>
		<typeHandler javaType="java.lang.String" jdbcType="CLOB" handler="kr.re.kitech.biz.xom.core.ext.CustomTypeHandler" />
		<typeHandler javaType="java.lang.String" jdbcType="LONGVARCHAR" handler="kr.re.kitech.biz.xom.core.ext.CustomTypeHandler" />
	</typeHandlers>
</configuration>