@CHARSET "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}ol,ul{list-style:none}
blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before, q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
/* If any specific focus styles exist, remember following:
:focus {outline:0;} */
/* End of reset */


/* Google PrettyPrint */
.prettyprint { padding: 10px; border-radius: 10px; }
.prettyprint li { margin-left:30px; font-size:14px; font-family: Consolas, "Courier New", Courier, monospace; !important }
li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 { list-style: decimal !important }


html,body { height:100%; }
body { font-size:13px; font-family: "Malgun Gothic", Sans-Serif; }
header {
	position:absolute; top:0; width:100%; height:32px; line-height:32px;
	background:#4e4e4e url("../images/logo-EIP2.1.png") no-repeat 10px center;
}
header h1 { margin-left:250px; font-weight:bold; color:white; }

aside { position:absolute; top:32px; width:250px; bottom:0; overflow:auto; line-height:150%; color:#999; background-color:#3d3d3d; }
aside h2 { height:40px; line-height:40px; padding:0 10px; color:#dedede; font-size:18px; font-weight:bold; }
aside ol { padding:10px; background:#2e2e2e; list-style:decimal inside; }
aside h3 { height:30px; line-height:30px; padding:0 10px; color:#bbb; background:#3d3d3d; }
aside h3::before { content:"▣ "; }
aside h3:hover { color:#bde4ff; background:#555; }
aside h3.selected { color:#bde4ff; background:#555; font-weight:bold; }
aside>ul { border-top:1px solid #2e2e2e; }
aside>ul>li { border-bottom:1px solid #2e2e2e; }
aside ul ul { display:none; padding:10px 20px; background:#2e2e2e; }
aside a { color:#999; text-decoration:none; }
aside a:hover { text-decoration:underline; }

#templateViewer { display:none; position:absolute; top:32px; left:250px; right:0; bottom:0; color:#999; }
#moduleInfo { width:100%; height:40px; line-height:40px; text-align:right; background:#2e2e2e; }
#templateModuleName { width:200px; }
#btnCopy { margin-right:20px; }
#templateFrame { display:block; width:100%; height:calc(100% - 40px); }

main { position:fixed; top:32px; left:270px; bottom:0; padding-right:20px; overflow:auto; line-height:150%; }
main p { margin:0.5em 0; }
main h2 { line-height:96px; font-size:32px; font-weight:bold; border-bottom:1px solid #999; }
main h3 { line-height:52px; font-size:18px; font-weight:bold; }
main h4 { line-height:48px; font-size:16px; font-weight:bold; }
main ul { padding:10px 10px 10px 30px; list-style:square inside; border:1px solid #aaa; border-radius:10px; background:#ddd; }
main ul li { text-indent: -20px; }
main dl { padding:10px; border:1px solid #aaa; border-radius:10px; background:#ddd; }
main dt, main dd { line-height:200%; }
main dt { float:left; width:120px; font-weight:bold; }
main dd { border-bottom:1px solid #bbb; }
main dd:last-child { border-bottom:none; }
main table { margin:10px 0; }
main caption { caption-side:top; text-align:left; }
main table { background:#ddd; }
main th, main td { padding:5px; border:1px solid #bbb; }
main th { font-weight:bold; text-align:left; }
main th[colspan="4"] { text-align:center; }

div.main { position:fixed; top:32px; left:270px; bottom:0; padding-right:20px; overflow:auto; line-height:150%; }
div.main p { margin:0.5em 0; }
div.main h2 { line-height:96px; font-size:32px; font-weight:bold; border-bottom:1px solid #999; }
div.main h3 { line-height:52px; font-size:18px; font-weight:bold; }
div.main h4 { line-height:48px; font-size:16px; font-weight:bold; }
div.main ul { padding:10px 10px 10px 30px; list-style:square inside; border:1px solid #aaa; border-radius:10px; background:#ddd; }
div.main ul li { text-indent: -20px; }
div.main dl { padding:10px; border:1px solid #aaa; border-radius:10px; background:#ddd; }
div.main dt, div.main dd { line-height:200%; }
div.main dt { float:left; width:120px; font-weight:bold; }
div.main dd { border-bottom:1px solid #bbb; }
div.main dd:last-child { border-bottom:none; }
div.main table { margin:10px 0; }
div.main caption { caption-side:top; text-align:left; }
div.main table { background:#ddd; }
div.main th, div.main td { padding:5px; border:1px solid #bbb; }
div.main th { font-weight:bold; text-align:left; }
