<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>과제종료예정안내</title>    
  </head>
  <body>
    <div id="kitech-mailer-tempalate-wrap" style="display:block;position:relative;background:#fff;">
      <div id="kitech-mailer-template-container" style="margin:0;padding:0;position:relative;width:880px;margin:20px auto;border:1px solid #d4d4d4;">
        <div id="kitech-mailer-template-nav" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;height:50px;background:#fbf9f3;'>
          <a id="kitech-mailer-template-link1" href="http://www.kitech.re.kr" target="_blank" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;display:inline-block;position:relative;white-space:nowrap;overflow:hidden;text-indent:100%;width:105px;height:33px;top:8px;left:20px;background:url("https://ksauth.kitech.re.kr:8443/vendor/mail_img/logo_kitech.png") no-repeat center center;'>한국생산기술연구원</a>
          <a id="kitech-mailer-template-link2" href="http://neip.kitech.re.kr" target="_blank" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;display:inline-block;position:relative;float:right;white-space:nowrap;overflow:hidden;text-indent:100%;width:56px;height:21px;top:14px;right:20px;background:url("https://ksauth.kitech.re.kr:8443/vendor/mail_img/logo_eip2.1.png") no-repeat center center;'>EIP3.0 종합정보시스템</a>
        </div>
        <div id="kitech-mailer-template-header" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:20px 0;text-align:center;backgroud:yellow;'>
          <h1 id="kitech-mailer-template-h1" style='font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;display:inline-block;margin:0;padding:0;font-size:28px;font-weight:bold;color:#000;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;display:inline-block;margin:0;padding:0;font-size:28px;font-weight:bold;color:#000;border-bottom: 4px solid;border-image: linear-gradient(to right, #fdc42d 0%,#fdc42d 33%,#334752 33%,#334752 67%,#7dbc39 67%);border-image-slice: 1;height: 47px;'>과제종료예정안내</h1>
        </div>
        <div style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;text-align:center;'>
          <span style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;text-align:left;'>과제 종료일이 6개월 이상 남지 않은 정부수탁과제의 종료 전 점검사항에 대하여</span><br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'/>
					<span style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;text-align:left;'>아래와 같이 안내드리오니 꼭 확인 및 진행하여 주시기 바랍니다.</span>
        </div>
        <div id="kitech-mailer-template-body2" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:20px 20px;'>
          <table style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;width: 100%; margin: 20px 0; border-collapse: collapse; border: 1px solid #629e21;'>
            <caption style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;height: 30px; line-height: 30px; text-align: left;'>
              <span style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;height:20px;line-height:20px;text-align:left;font-weight:bold;font-size:14px;color: #fdc42d;'>◈</span>
              <span style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;height:20px;line-height:20px;text-align:left;font-weight:bold;font-size:14px;'> 계정정보</span>
            </caption>
            <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <th style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;width: 15%;'>계정번호<br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'/>(책임자)</th>
              <th style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;width: 20%;'>과제구분<br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'/>(부처)</th>
              <th style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;width: 25%;'>과제명</th>
              <th style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;width: 20%;'>연구기간</th>
              <th style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;width: 10%;'>연구비</th>
              <th style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;width: 15%;'>직접비<br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'/>집행비율</th>
            </tr>
            <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;border:1px solid #ddd;text-align:center;text-align: center;'>@accntNoNm@</td>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;border:1px solid #ddd;text-align:center;text-align: center;'>@bsnsCdNm@</td>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;border:1px solid #ddd;text-align:center;text-align: center;'>@prjNm@</td>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;border:1px solid #ddd;text-align:center;text-align: center;'>@accntPrd@</td>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;border:1px solid #ddd;text-align:center;text-align: center;'>@planAmt@</td>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;border:1px solid #ddd;text-align:center;text-align: center;'>@enfrcRts@</td>
            </tr>
          </table>
          <strong style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>※ 직접비 집행비율 : 메일 발송시점 원장기준, 전년도 이월편성액보다 전년도 이월집행액이 적을 경우 마이너스 집행율 발생</strong><br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'/>
					
          <table style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;width:100%;margin:10px 0;border-collapse:collapse;border:1px solid #629e21;'>
            <caption style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;height: 30px; line-height: 30px; text-align: left;'>
              <span style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;height:20px;line-height:20px;text-align:left;font-weight:bold;font-size:14px;color: #fdc42d;'>◈</span>
              <span style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;height:20px;line-height:20px;text-align:left;font-weight:bold;font-size:14px;'> 점검사항</span>
            </caption>
            <colgroup style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <col style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;width:100px;'>
              <col style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
            </colgroup>
            <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;color:#fff;background:#7dbc39;border:1px solid #629e21;'>인건비</th>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;border:1px solid #ddd;text-align:center;text-align: left; padding:10px;border:1px solid #ddd;'>@@rmk1@</td>
            </tr>
            <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;color:#fff;background:#7dbc39;border:1px solid #629e21;'>연구시설/장비</th>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;border:1px solid #ddd;text-align:center;text-align: left; padding:10px;border:1px solid #ddd ;'>@@rmk2@</td>
            </tr>
            <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;color:#fff;background:#7dbc39;border:1px solid #629e21;'>정산수수료</th>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;border:1px solid #ddd;text-align:center;text-align: left; padding:10px;border:1px solid #ddd;'>@@rmk4@</td>
            </tr>
            <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;color:#fff;background:#7dbc39;border:1px solid #629e21;'>원인행위충당금(이월)설정</th>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;border:1px solid #ddd;text-align:center;text-align: left; padding:10px;border:1px solid #ddd;'>@@rmk6@</td>
            </tr>
          </table>
          <br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'/>
					@@rmk7@
					<br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'/>
					
          <p style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>◈  공통규정에 따른 점검사항으로, 상기 사업의 운영 요령(세부지침) 등이 별도로 있는 경우에는,</p>
          <p style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>&nbsp;&nbsp;&nbsp;&nbsp;해당 운영 요령(세부지침) 등을 우선 적용하여 주시기 바랍니다.</p>
          <br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'/>
					
          <p style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>◈ 그 외 종료과제 점검시 발생한 사항에 대해서는</p>
          <p style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>&nbsp;&nbsp;&nbsp;&nbsp;사업지원실의 연구관리 담당자와 협의하여 주시기 바랍니다.</p>
        </div>
        <div id="kitech-mailer-template-footer" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;position:relative;margin-top:20px;padding:10px 0 10px 200px;font-size:12px;line-height:18px;color:#444;background:#fbf9f3 url("https://ksauth.kitech.re.kr:8443/vendor/mail_img/logo_bottom.png") no-repeat 30px 18px;'>
          본 메일은 한국생산기술연구원 종합정보시스템(EIP3.0)을 통해 발송된 메일입니다.<br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
          31056 충청남도 천안시 서북구 입장면 양대기로길 89 한국생산기술연구원<br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
          Copyright&copy; KITECH All Right Reserved.
				</div>
      </div>
    </div>
  </body>
</html>
