<!DOCTYPE html>
<html lang="ko">
  <head>
  <meta charset="UTF-8">
  <title>연구참여확약서 작성 요청 메일</title>


  </head>
  <body style="font-size: 13px;color: #3d3d3d;font-family: &quot;Apple SD Gothic Neo&quot;, &quot;Malgun Gothic&quot;, Sans-Serif;">
    <div id="kitech-mailer-tempalate-wrap" style="display: block;position: relative;background-color: #fff;">
      <div id="kitech-mailer-template-container" style="margin: 20px auto;padding: 0;position: relative;width: 858px;border: 1px solid #d4d4d4;">
        <div id="kitech-mailer-template-nav" style="margin: 0;padding: 0;height: 50px;background: #fbf9f3;">
          <a id="kitech-mailer-template-link1" href="http://www.kitech.re.kr" target="_blank" style="font-size: 13px;color: #3d3d3d;font-family: &quot;Apple SD Gothic Neo&quot;, &quot;Malgun Gothic&quot;, Sans-Serif;margin: 0;padding: 0;display: inline-block;position: absolute;white-space: nowrap;overflow: hidden;text-indent: 100%;width: 105px;height: 33px;top: 8px;left: 20px;background: url(https://ksauth.kitech.re.kr:8443/vendor/mail_img/logo_kitech.png) no-repeat center center;">한국생산기술연구원</a>
          <a id="kitech-mailer-template-link2" href="http://neip.kitech.re.kr" target="_blank" style="font-size: 13px;color: #3d3d3d;font-family: &quot;Apple SD Gothic Neo&quot;, &quot;Malgun Gothic&quot;, Sans-Serif;margin: 0;padding: 0;display: inline-block;position: absolute;white-space: nowrap;overflow: hidden;text-indent: 100%;width: 56px;height: 21px;top: 14px;right: 20px;background: url(https://ksauth.kitech.re.kr:8443/vendor/mail_img/logo_eip2.1.png) no-repeat center center;">EIP3.0 종합정보시스템</a>
        </div>
        <div id="kitech-mailer-template-header" style="margin: 0;padding: 20px 0;text-align: center;backgroud: yellow;">
          <h1 id="kitech-mailer-template-h1" style="font-size: 28px;color: #000;display: inline-block;margin: 0;padding: 0;font-weight: bold;border-bottom: 4px solid;border-image: linear-gradient(to right, #fdc42d 0%,#fdc42d 33%,#334752 33%,#334752 67%,#7dbc39 67%);border-image-slice: 1;height: 47px;">연구참여확약서 작성 요청 메일</h1>

        </div>
        <div id="kitech-mailer-template-body" style="margin: 0;padding: 0 20px;">
          <table style="width: 100%;margin: 10px 0;border-collapse: collapse;border: 1px solid #629e21;padding: 0;">
            <colgroup style="margin: 0;padding: 0;">
              <col style="width: 120px;margin: 0;padding: 0;">
              <col style="margin: 0;padding: 0;">
            </colgroup>
            <tr style="margin: 0;padding: 0;">
              <th scope="row" style="width: 120px;color: #fff;background: #7dbc39;border: 1px solid #629e21;margin: 0;padding: 0;">문서번호</th>
              <td colspan="3" style="padding: 10px;border: 1px solid #ddd;margin: 0;">@req_no@</td>
            </tr>
            <tr style="margin: 0;padding: 0;">
              <th scope="row" style="width: 120px;color: #fff;background: #7dbc39;border: 1px solid #629e21;margin: 0;padding: 0;">성 명</th>
              <td style="padding: 10px;border: 1px solid #ddd;margin: 0;">@nm@</td>
              <th scope="row" style="width: 120px;color: #fff;background: #7dbc39;border: 1px solid #629e21;margin: 0;padding: 0;">개인번호</th>
              <td style="padding: 10px;border: 1px solid #ddd;margin: 0;">@syspayno@</td>
            </tr>
            <tr style="margin: 0;padding: 0;">
              <th scope="row" style="width: 120px;color: #fff;background: #7dbc39;border: 1px solid #629e21;margin: 0;padding: 0;">직급</th>
              <td style="padding: 10px;border: 1px solid #ddd;margin: 0;">@posiNm@</td>
              <th scope="row" style="width: 120px;color: #fff;background: #7dbc39;border: 1px solid #629e21;margin: 0;padding: 0;">소속부서</th>
              <td style="padding: 10px;border: 1px solid #ddd;margin: 0;">@deptNm@</td>
            </tr>
          </table>

          <h2 style="font-size: 15px;margin: 15px 0;padding: 0;">안녕하세요<br style="margin: 0;padding: 0;">KITECH스쿨입니다.</h2>

          <p style="margin: 0;padding: 0;">우리원의 학생연구원은 아래 근거에 의거하여 학생연구원의 처우, 인권 및 권익보호를 위하여 연구참여확약서를 체결합니다.</p>
          <p style="margin: 0;padding: 0;">보내드린 연구참여확약서 확인하시어 금주내로 확인처리하여 주시기 바랍니다.</p>
          <br style="margin: 0;padding: 0;">
          <p style="margin: 0;padding: 0;">문의사항 : 041-5898-692</p>

          <table style="margin:10px 0;border:1px solid #629e21;padding: 10px 10px;">
            <tbody style="margin: 0;padding: 0;">
              <tr style="margin: 0;padding: 0;">
                <td style="margin: 0;padding: 0;">[관련 근거]</td>
              </tr>
              <tr style="margin: 0;padding: 0;">
                <td style="margin: 0;padding: 0;">
                  <p style="margin: 0;padding: 0;">1. 과학기술정보통신부 「국가연구개발사업 연구개발비 사용기준」</p>
                  <p style="margin: 0;padding: 0;">2. 한국생산기술연구원 「학생연구원 지원규정」</p>
                  <p style="margin: 0;padding: 0;">제8조(연구참여확약서 작성 및 변경)① 연수책임자는 학생연구원 연간 활용계획에 따라 학생연구원과 협의를 거쳐 학기(또는 학년) 단위로 &lt;별표1&gt;의 연구참여확약서를 작성하여야 한다. 이 경우 다음 각 호의 사항을 고려하여야 한다.</p>
                  <p style="margin: 0;padding: 0;">1. 연구주제 및 분야, 연구수행내용, 구체적 역할 등 담당업무(역할)를 구체적으로 작성하여야 한다. (개정 '21.6.29.)</p>
                  <p style="margin: 0;padding: 0;">2. 참여기간, 연수장려금, 학생인건비 유용금지, 안전 및 인권·권리 보호 등에 관한 사항을 포함하여야 한다.</p>
                  <p style="margin: 0;padding: 0;">3. 연구개발과 무관한 업무(역할)는 명시 할 수 없다.</p>
                  <p style="margin: 0;padding: 0;">② 연수책임자와 학생연구원은 다음 각 호의 경우 본조 제1항의 연구참여확약서의 내용을 변경할 수 있다.(신설 ‘21.6.29.)</p>
                  <p style="margin: 0;padding: 0;">1. 연수책임자가 수행하거나 수행할 과제의 협약체결, 변경, 중단, 해약 등으로 연구참여 확약서의 변경이 필요한 경우</p>
                  <p style="margin: 0;padding: 0;">2. 학생연구원의 학적 변동, 개인의 사정 등으로 연구 참여확약서의 변경이 필요한 경우</p>
                  <p style="margin: 0;padding: 0;">3. 학생연구원의 질병·실종·형사소추 등으로 업무수행이 불가능하여 연구참여확약서의 변경이 필요한 경우</p>
                  <p style="margin: 0;padding: 0;">(조목개정 '21.6.29.)</p>
                </td>
              </tr>
            </tbody>
          </table>

          <p style="padding: 20px;text-align: center;margin: 0;">
            <a href="@link@" style="display: inline-block;text-decoration: none;padding: 5px;border: 2px solid #fdc42d;border-radius: 10px;font-size: 13px;color: #3d3d3d;font-family: &quot;Apple SD Gothic Neo&quot;, &quot;Malgun Gothic&quot;, Sans-Serif;margin: 0;" target="_blank">연구참여확약서 작성 바로가기</a>
          </p>
        </div>
        <div id="kitech-mailer-template-footer" style="margin: 0;padding: 10px 0 10px 200px;position: relative;margin-top: 20px;font-size: 12px;line-height: 18px;color: #444;background: #fbf9f3 url(https://ksauth.kitech.re.kr:8443/vendor/mail_img/logo_bottom.png) no-repeat 30px 18px;">
          본 메일은 한국생산기술연구원 종합정보시스템(EIP3.0)을 통해 발송된 메일입니다.<br style="margin: 0;padding: 0;">
          31056 충청남도 천안시 서북구 입장면 양대기로길 89 한국생산기술연구원<br style="margin: 0;padding: 0;">
          Copyright&copy; KITECH All Right Reserved.
        </div>
      </div>
    </div>
  </body>
</html>
