<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>검수요청서 신청</title>    
  </head>
  <body>
    <div id="kitech-mailer-tempalate-wrap" style="display:block;position:relative;background:#fff;">
      <div id="kitech-mailer-template-container" style="margin:0;padding:0;position:relative;width:758px;margin:20px auto;border:1px solid #d4d4d4;">
        <div id="kitech-mailer-template-nav" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;height:50px;background:#fbf9f3;'>
          <a id="kitech-mailer-template-link1" href="http://www.kitech.re.kr" target="_blank" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;display:inline-block;position:relative;white-space:nowrap;overflow:hidden;text-indent:100%;width:105px;height:33px;top:8px;left:20px;background:url("https://ksauth.kitech.re.kr:8443/vendor/mail_img/logo_kitech.png") no-repeat center center;'>한국생산기술연구원</a>
          <a id="kitech-mailer-template-link2" href="http://neip.kitech.re.kr" target="_blank" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;display:inline-block;position:relative;float:right;white-space:nowrap;overflow:hidden;text-indent:100%;width:56px;height:21px;top:14px;right:20px;background:url("https://ksauth.kitech.re.kr:8443/vendor/mail_img/logo_eip2.1.png") no-repeat center center;'>EIP3.0 종합정보시스템</a>
        </div>
        <div id="kitech-mailer-template-header" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:20px 0;text-align:center;backgroud:yellow;'>
          <h1 id="kitech-mailer-template-h1" style='font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;display:inline-block;margin:0;padding:0;font-size:28px;font-weight:bold;color:#000;border-bottom: 4px solid;border-image: linear-gradient(to right, #fdc42d 0%,#fdc42d 33%,#334752 33%,#334752 67%,#7dbc39 67%);border-image-slice: 1;height: 47px;'>검수요청알림</h1>
        </div>
        <div id="kitech-mailer-template-body" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:0 20px;'>
          <p style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'><strong style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>「@contrctNm@」(@purReqNo@)의 납품이 완료되었습니다.
							<br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              「결재대기함」을 확인하시고 해당 계약건의 검사·검수조서를 작성하여 주시기 바랍니다.
							<br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'/> (단, 천재지변 등 특별한 사유가 없는 한  「국가계약법」에 따라 납품일로부터 14일 이내에 검사·검수를 완료하여야 합니다.)
						</strong></p>
          <p style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
          </p>
          <table style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;width:100%;margin:10px 0;border-collapse:collapse;border:1px solid #629e21;'>
            <colgroup style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <col style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;width:120px;'>
              <col style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
            </colgroup>
            <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;'>계약명</th>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:10px;border:1px solid #ddd;'>@contrctNm@</td>
            </tr>
            <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;'>구매요구번호</th>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:10px;border:1px solid #ddd;'>@purReqNo@</td>
            </tr>
            <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;'>계약번호</th>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:10px;border:1px solid #ddd;'>@contrctNo@</td>
            </tr>
            <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;'>계약금액</th>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:10px;border:1px solid #ddd;'>@contrctTotAmt@</td>
            </tr>
            <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;'>계약기간</th>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:10px;border:1px solid #ddd;'>@contrctPrd@</td>
            </tr>
            <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;'>계약업체명</th>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:10px;border:1px solid #ddd;'>@vendNm@</td>
            </tr>
          </table>
          <table style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;width:100%;margin:10px 0;border-collapse:collapse;border:1px solid #629e21;'>
            <colgroup style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <col style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;width:120px;'>
              <col style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;width:70px;'>
              <col style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
            </colgroup>
            <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;'>검사(입회)자</th>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:10px;border:1px solid #ddd;'>@managerNm1@</td>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:10px;border:1px solid #ddd;color:red;'>
                - 납품사진(계약목적물을 명확하게 식별할 수 있도록 정면사진 첨부, 500 Kbyte이상) <br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'/>
							- 결과(완료)보고서 100자 이상 작성
							</td>
            </tr>
            <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;'>검사자(계정책임자)</th>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:10px;border:1px solid #ddd;'>@managerNm2@</td>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:10px;border:1px solid #ddd;'>
                - 규격서(시방서 또는 과업지시서)에 따라 제조설치(용역완료)되어 계약목적에 합치하는지 여부를 확인(시운전 등)
							</td>
            </tr>
            <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;'>검수자</th>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:10px;border:1px solid #ddd;'>@managerNm3@</td>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:10px;border:1px solid #ddd;'>
                - 계약목적물이 손상 또는 훼손품이 없고, 계약서(납품서류)상의 수량대로 납품되었는지를 확인(외형 및 수량확인)
							</td>
            </tr>
          </table>
        </div>
        <div id="kitech-mailer-template-footer" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;position:relative;margin-top:20px;padding:10px 0 10px 200px;font-size:12px;line-height:18px;color:#444;background:#fbf9f3 url("https://ksauth.kitech.re.kr:8443/vendor/mail_img/logo_bottom.png") no-repeat 30px 18px;'>
          본 메일은 한국생산기술연구원 종합정보시스템(EIP3.0)을 통해 발송된 메일입니다.<br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
          31056 충청남도 천안시 서북구 입장면 양대기로길 89 한국생산기술연구원<br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
          Copyright&copy; KITECH All Right Reserved.
				</div>
      </div>
    </div>
  </body>
</html>
