<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>계약 완료</title>    
  </head>
  <body>
    <div id="kitech-mailer-tempalate-wrap" style="display:block;position:relative;background:#fff;">
      <div id="kitech-mailer-template-container" style="margin:0;padding:0;position:relative;width:758px;margin:20px auto;border:1px solid #d4d4d4;">
        <div id="kitech-mailer-template-nav" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;height:50px;background:#fbf9f3;'>
          <a id="kitech-mailer-template-link1" href="http://www.kitech.re.kr" target="_blank" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;display:inline-block;position:relative;white-space:nowrap;overflow:hidden;text-indent:100%;width:105px;height:33px;top:8px;left:20px;background:url("https://ksauth.kitech.re.kr:8443/vendor/mail_img/logo_kitech.png") no-repeat center center;'>한국생산기술연구원</a>
          <a id="kitech-mailer-template-link2" href="http://neip.kitech.re.kr" target="_blank" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;display:inline-block;position:relative;float:right;white-space:nowrap;overflow:hidden;text-indent:100%;width:56px;height:21px;top:14px;right:20px;background:url("https://ksauth.kitech.re.kr:8443/vendor/mail_img/logo_eip2.1.png") no-repeat center center;'>EIP3.0 종합정보시스템</a>
        </div>
        <div id="kitech-mailer-template-header" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:20px 0;text-align:center;backgroud:yellow;'>
          <h1 id="kitech-mailer-template-h1" style='font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;display:inline-block;margin:0;padding:0;font-size:28px;font-weight:bold;color:#000;border-bottom: 4px solid;border-image: linear-gradient(to right, #fdc42d 0%,#fdc42d 33%,#334752 33%,#334752 67%,#7dbc39 67%);border-image-slice: 1;height: 47px;'>구매계약 완료 안내</h1>
        </div>
        <div id="kitech-mailer-template-body" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:0 20px;'>
          <p style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'><strong style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>「@contrctNm@ 」(@purReqNo@)의 계약이 완료되었으니 업무에 참조하시기 바랍니다.</strong></p>
          <p style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
          </p>
          <table style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;width:100%;margin:10px 0;border-collapse:collapse;border:1px solid #629e21;'>
            <caption style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;height:30px;line-height:30px;text-align:left;'>
              <span style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#f3ae19;'>◈</span>
              구매계약 완료내용
						</caption>
            <colgroup style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <col style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;width:120px;'>
              <col style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
            </colgroup>
            <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;'>계약명</th>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:10px;border:1px solid #ddd;'>@contrctNm@</td>
            </tr>
            <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;'>구매요구번호</th>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:10px;border:1px solid #ddd;'>@purReqNo@</td>
            </tr>
            <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;'>계약번호</th>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:10px;border:1px solid #ddd;'>@contrctNo@ (구매담당자 : @chargeNm@, 연락처 : @extNo@)</td>
            </tr>
            <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;'>계약금액</th>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:10px;border:1px solid #ddd;'>@@contrctAmt@ </td>
            </tr>
            <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;'>계약기간</th>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:10px;border:1px solid #ddd;'>@contrctPrd@</td>
            </tr>
            <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;'>계약업체</th>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:10px;border:1px solid #ddd;'>@@contrctVendNm@</td>
            </tr>
            <tr style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
              <th scope="row" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;color:#fff;background:#7dbc39;border:1px solid #629e21;'>계약원문보기</th>
              <td style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:10px;border:1px solid #ddd;'>
                <!-- 							<input type='button' style="display:inline-block;text-decoration:none;padding:5px;border:2px solid #fdc42d;border-radius:10px" value='계약원문' onclick= "window.open('@node@', 'window','toolbar=0, directories=1, top=100, left=100, scrollbars=1, resizable=1')" > -->
                <!-- <input type='button' style="padding:5px;border:2px solid #fdc42d;border-radius:10px" value='계약원문' onclick= "window.open('@node@', 'window','toolbar=0, directories=1, top=100, left=100, scrollbars=1, resizable=1')" > -->
                <a href="@node@" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:5px;border:2px solid #fdc42d;border-radius:10px;' target="_blank">계약원문</a>
              </td>
            </tr>
          </table>
        </div>
        <div id="kitech-mailer-template-footer" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;position:relative;margin-top:20px;padding:10px 0 10px 200px;font-size:12px;line-height:18px;color:#444;background:#fbf9f3 url("https://ksauth.kitech.re.kr:8443/vendor/mail_img/logo_bottom.png") no-repeat 30px 18px;'>
          본 메일은 한국생산기술연구원 종합정보시스템(EIP3.0)을 통해 발송된 메일입니다.<br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
          31056 충청남도 천안시 서북구 입장면 양대기로길 89 한국생산기술연구원<br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
          Copyright&copy; KITECH All Right Reserved.
				</div>
      </div>
    </div>
  </body>
</html>
