<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>카드 미처리 내역</title>    
  </head>
  <body>
    <div id="kitech-mailer-tempalate-wrap" style="display:block;position:relative;background:#fff;">
      <div id="kitech-mailer-template-container" style="margin:0;padding:0;position:relative;width:758px;margin:20px auto;border:1px solid #d4d4d4;">
        <div id="kitech-mailer-template-nav" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;height:50px;background:#fbf9f3;'>
          <a id="kitech-mailer-template-link1" href="http://www.kitech.re.kr" target="_blank" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;display:inline-block;position:relative;white-space:nowrap;overflow:hidden;text-indent:100%;width:105px;height:33px;top:8px;left:20px;background:url("https://ksauth.kitech.re.kr:8443/vendor/mail_img/logo_kitech.png") no-repeat center center;'>한국생산기술연구원</a>
          <a id="kitech-mailer-template-link2" href="http://neip.kitech.re.kr" target="_blank" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;display:inline-block;position:relative;float:right;white-space:nowrap;overflow:hidden;text-indent:100%;width:56px;height:21px;top:14px;right:20px;background:url("https://ksauth.kitech.re.kr:8443/vendor/mail_img/logo_eip2.1.png") no-repeat center center;'>EIP3.0 종합정보시스템</a>
        </div>
        <div id="kitech-mailer-template-header" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:20px 0;text-align:center;backgroud:yellow;'>
          <h2 id="kitech-mailer-template-h1" style='font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;display:inline-block;margin:0;padding:0;font-size:28px;font-weight:bold;color:#000;border-bottom: 4px solid;border-image: linear-gradient(to right, #fdc42d 0%,#fdc42d 33%,#334752 33%,#334752 67%,#7dbc39 67%);border-image-slice: 1;height: 47px;'>카드 미처리 내역</h2>
        </div>
        <div id="kitech-mailer-template-body" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;padding:0 20px;'>
          <p style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>안녕하세요.<br/>
				재정운영실 법인(연구비)카드 담당자 @cn@ 입니다.(Tel:@ext_no@)<br />
				사용한 법인카드의 미결의 내역을 보내드리오니,<br />
				아래의 사유로 <strong >법인카드 사용 후 7일 이내에 지출결의하여</strong> 주시기 바랍니다.<br /><br />
				 - 아 래  -<br />
				<strong><제7조 정산 절차></strong><br/>
				(1)법인카드를 사용하였을 경우에는 그 사용액에 대한 증빙서류를 첨부하여 지출발의를 하여야 한다.<br />
				<strong><제8조 사용제한></strong><br />
				<strong>(1)회계부서장은 카드관리자가 법인카드 사용 후 대금 결제일 10일 전까지 정산하지 않을 경우 카드사용을</strong><br/>
				<strong >1개월간 중지할 수 있다.</strong><br/>
				* 법인카드 대금결제일 : 매월 23일 / 연구비카드 대금결제일 : 매월 26일<br/>
				2. 정부사업비 지급형태가 RCMS(선집행 후입금), POINT 제도로 바뀌면서<br/>
				- 카드결의 미처리시 사업비를 청구할 수 없기에, 연구원 예산의 원활한 운영을 위하여 카드 사용후 바로 결의처리를<br/>
				진행하여 주시기 바랍니다.<br/>
				3. 미결의 내역은, EIP 2.1 재무관리 &gt; 결의서 &gt; 카드처리조회에서 확인 가능합니다.<br/><br/>
			</p>
			<br>
			<br>
			<p>
				<span style='color:#f3ae19'>◈</span> 관련메뉴 바로가기
			</p>
			<div style="width:100%;text-align:center">
				<div style="width:150px;height:30px;background-color:#fbf9f3;display:inline-block;text-align:center;margin:10px;line-height:2.5;border:1px solid #000000;"><a href="http://biz.kitech.re.kr/kitech/index.jsp?serviceid=F241" style="text-decoration:none;color:#000000;">회의록 작성</a></div>
				<div style="width:150px;height:30px;background-color:#fbf9f3;display:inline-block;text-align:center;margin:10px;line-height:2.5;border:1px solid #000000;"><a href="http://biz.kitech.re.kr/kitech/index.jsp?serviceid=F428" style="text-decoration:none;color:#000000;">소액물품검사검수</a></div>
				<div style="width:150px;height:30px;background-color:#fbf9f3;display:inline-block;text-align:center;margin:10px;line-height:2.5;border:1px solid #000000;"><a href="http://biz.kitech.re.kr/kitech/index.jsp?serviceid=F202" style="text-decoration:none;color:#000000;">카드결의</a></div>
			</div>	
          		@@data@
			<br>
        </div>
        <div id="kitech-mailer-template-footer" style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;position:relative;margin-top:20px;padding:10px 0 10px 200px;font-size:12px;line-height:18px;color:#444;background:#fbf9f3 url("https://ksauth.kitech.re.kr:8443/vendor/mail_img/logo_bottom.png") no-repeat 30px 18px;'>
          본 메일은 한국생산기술연구원 종합정보시스템(EIP3.0)을 통해 발송된 메일입니다.<br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
          31056 충청남도 천안시 서북구 입장면 양대기로길 89 한국생산기술연구원<br style='margin:0;padding:0;font-size:13px;color:#3d3d3d;font-family:"Apple SD Gothic Neo", "Malgun Gothic", Sans-Serif;'>
          Copyright&copy; KITECH All Right Reserved.
				</div>
      </div>
    </div>
  </body>
</html>
