@charset "utf-8";
/* CSS Document */

/**********************************************
용도 : 본문 내용 전체 설정
**********************************************/
body {
	font-family:"돋움", Dotum, Helvetica, AppleGothic, Sans-serif;
	font-size:12px;
	line-height:18px;
}

.document_title {
	text-align:center;
	width:100%;
	height:30px;
	line-height:25px;
	font-size:17px;
	font-weight: bold;
}

/**********************************************
main-class : aprlinetable
용도 :  결재선 테이블
***********************************************/
.aprlinetable {
	text-align:center;
	border-collapse:collapse; 
	margin-bottom:15px;
}
.aprlinetable th{
	background:#EAEAEA;
}

/**********************************************
main-class : aproutertable
용도 : 테이블의 외곽선
**********************************************/
.aproutertable {
}

/**********************************************
main-class : aproutertable
sub-class : head
용도 : 외곽 테이블의 제목영역
**********************************************/
.aproutertable .head{
	width:100%;
	height:50px;
	line-height:25px;
	background:#ffffff;
	border-right:0px solid #B9C3D1;
	text-align:left;
	vertical-align:bottom;
	padding-left:5px;
	font-weight:bold;
	color:#444;
	font-size:12px;
}
	
/**********************************************
main-class : aprinnertable
sub-class : body
용도 : 외곽 테이블의 내용영역
**********************************************/
.aproutertable .body {
	border-top:1px solid #B9C3D1;
	border-left:1px solid #B9C3D1;
}

/**********************************************
main-class : aprinnertable
sub-class : title
용도 : 내용 테이블의 제목 (가운데 정렬, 배경색)
**********************************************/
.aprinnertable .title {
	height:25px;
	line-height:20px;
	background:#EAEAEA;
	border-right:1px solid #B9C3D1;
	text-align:center;
	font-weight:100;
	color:#636564;
	font-size:12px;
	border-bottom:1px solid #B9C3D1;
}

/**********************************************
main-class : aprinnertable
sub-class : title2
용도 : 내용 테이블의 제목 (왼쪽 정렬, 배경색)
**********************************************/
.aprinnertable .title2 {
	height:25px;
	line-height:20px;
	background:#EAEAEA;
	border-right:1px solid #B9C3D1;
	text-align:left;
	padding-left:10px;
	font-weight:100;
	color:#636564;
	font-size:12px;
	border-bottom:1px solid #B9C3D1;
}

/**********************************************
main-class : aprinnertable
sub-class : title3
용도 : 내용 테이블 제목 (왼쪽 정렬, 배경색, 큰폰트)
**********************************************/
.aprinnertable .title3 {
	height:25px;
	line-height:20px;
	background:#EAEAEA;
	border-right:1px solid #B9C3D1;
	text-align:left;
	padding-left:10px;
	font-weight:100;
	color:#636564;
	font-size:12px;
	border-bottom:1px solid #B9C3D1;
}

/**********************************************
main-class : aprinnertable
sub-class : contant
용도 : aprinnertable을 사용하는 테이블의 내용 (왼쪽정렬)
**********************************************/
.aprinnertable .contant {
	text-align:left;
	padding:5px;
	border-bottom:1px solid #B9C3D1;
	border-right:1px solid #B9C3D1;
	font-family:"돋움", Dotum, Helvetica, AppleGothic, Sans-serif;
	font-size:12px;
}

/**********************************************
main-class : aprinnertable
sub-class : contant-right
용도 : aprinnertable을 사용하는 테이블의 내용 (오른쪽 정렬)
**********************************************/
.aprinnertable .contant-right {
	text-align:right;
	padding:5px;
	border-bottom:1px solid #B9C3D1;
	border-right:1px solid #B9C3D1;
	font-family:"돋움", Dotum, Helvetica, AppleGothic, Sans-serif;
	font-size:12px;
}

/**********************************************
main-class : aprinnertable
sub-class : contant-right
용도 : aprinnertable을 사용하는 테이블의 내용 (가운데 정렬)
**********************************************/
.aprinnertable .contant-center {
	text-align:center;
	padding:5px;
	border-bottom:1px solid #B9C3D1;
	border-right:1px solid #B9C3D1;//rhs추가
	font-family:"돋움", Dotum, Helvetica, AppleGothic, Sans-serif;
	font-size:12px;
}

/**********************************************
ext-class : aprtextfield
용도 : 텍스트필드에 사용 
**********************************************/
.aprtextfield {
	border:1px solid #ACB1B7;
	width:95%;
	line-height:18px;
	height:18px;
	background:#f9f9f9;
}

/**********************************************
ext-class : aprselectbox
용도 : 선택박스에 사용
**********************************************/
.aprselectbox {
	border:1px solid #ACB1B7;
}

/**********************************************
ext-class : aprtextarea
용도 : 텍스트영역에 사용
**********************************************/
.aprtextarea {
	border:1px solid #ACB1B7;
	width:100%;
}

/**********************************************
ext-class : aprtip
용도 : 사용자에게 업무힌트를 주기위하여 사용
**********************************************/
.aprtip {
	color:#DD5E00;
	font-size:11px;
}